.xans-board-inquirysearch { padding:15px 0 20px; color:#2e2e2e; font-size:12px; text-align:center; }
.xans-board-inquirysearch input { width:162px; }
.xans-board-inquirysearch .boardSearch { display:block; }