.xans-board-read-11 { margin:0 0 20px; }
.xans-board-read-11 .ec-base-table .view td { padding:20px; }
.xans-board-read-11 .ec-base-table .view ol,
.xans-board-read-11 .ec-base-table .view ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read-11 .ec-base-table .view ol li { list-style:decimal; }
.xans-board-read-11 .ec-base-table .view ul li { list-style:disc; }