.xans-mall-supplysearch { width:283px; position:relative; top:-24px; }
.xans-mall-supplysearch fieldset { border:1px solid #d9d9d9; border-radius:2px; }
.xans-mall-supplysearch fieldset .title { display:inline-block; left:15px; top:0; width:70px; height:34px; line-height:34px; visibility:visible; color:#7c8389; }
.xans-mall-supplysearch #searchSupply { width:160px; height:32px; padding:0 0 0 85px; border:0; line-height:32px; font-size:12px; color:#7c8389; background:#fff; }