.xans-board-commentpackage { overflow:hidden; background:#fff; }
.xans-board-commentpackage .commentTitle { padding:14px; background:#f1f1f1; border-top:1px solid #d5d5d5; border-bottom:1px solid #ececec; }
.xans-board-commentpackage .commentTitle h3 { display:inline-block; }

.xans-board-commentempty p { padding:28px 14px; text-align:center; border-bottom:1px solid #d5d5d5; }

/* 댓글리스트 */
.xans-board-commentlist { background-color:#ffffff; }
.xans-board-commentlist .label { vertical-align:middle; letter-spacing:-1px; }
.xans-board-commentlist .label.hide { display:none; }
.xans-board-commentlist li { position:relative; padding:14px 0 0; border-bottom:1px solid #d5d5d5; }
.xans-board-commentlist li > div { padding:0 14px; }
.xans-board-commentlist li .info { overflow:hidden; margin:0 0 7px; color:#757575; }
.xans-board-commentlist li .info .writer a { color:#757575; }

.xans-board-commentlist li .info p { position:relative; display:inline-block; padding:0 7px 0 8px; font-size:11px; }
.xans-board-commentlist li .info p:first-child { padding-left:0; }
.xans-board-commentlist li .info p:before { display:block; content:""; position:absolute; top:2px; left:0; width:1px; height:11px; background:#d6d6d6; }
.xans-board-commentlist li .info p:first-child:before { display:none; }

.xans-board-commentlist li .info p.chk { width:100%; margin:0; }
.xans-board-commentlist li .info p.rating img { margin:-2px 0 0; width:auto; height:11px; }
.xans-board-commentlist li .content { margin:7px 0 0; word-wrap:break-word; }
.xans-board-commentlist li .content span img { width:13px; height:13px; }
.xans-board-commentlist .ec-base-button div button.replyList span { margin:0 0 0 5px; color:#508bed; }
.xans-board-commentlist .ec-base-button div button.reply { padding:0 9px 0 26px; background:#fff url("//img.echosting.cafe24.com/skin/mobile_ko_KR/board/ico_comment.png") no-repeat 9px 50%; background-size:13px 13px; }
    /* 댓글의 댓글 */
    .xans-board-commentlist .replyArea { background:#f1f1f1; }
    .xans-board-commentlist .replyArea > div { padding-left:29px; }
    .xans-board-commentlist .replyArea .info { background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/board/ico_reply.png") no-repeat 14px 2px; background-size:7px 7px; }
    .xans-board-commentlist .replyArea .xans-board-commentformsecret { margin-left:0; }

/* 댓글 수정 */
.xans-board-commentform { padding:0; background-color:#fff; }
.xans-board-commentform fieldset { padding:14px 14px 7px; }
.xans-board-commentform .boardCommentModify { padding:0; }
.xans-board-commentform .boardCommentModify .info p:before { display:none; }
.xans-board-commentform .boardCommentModify .label {  padding:0 7px 0 0; color:#757575; font-size:13px; line-height:1.2em; font-weight:normal; vertical-align:middle; letter-spacing:-1px; }
.xans-board-commentform .boardCommentModify .info { margin:0 0 5px; padding:0; background:none; }
.xans-board-commentform .boardCommentModify .info:after { content:""; display:block; clear:both; }
.xans-board-commentform .boardCommentModify .info p,
.xans-board-commentform .boardCommentModify .info p:first-child:before { padding:0; background:none; }
.xans-board-commentform .boardCommentModify .info p.name { float:left; margin-right:3%; width:46%; text-align:left; }
.xans-board-commentform .boardCommentModify .info p.modifyPassword { float:right; width:51%; border-bottom:0; text-align:right; }
.xans-board-commentform .boardCommentModify .info p.name #comment_name { width:62%; }
.xans-board-commentform .boardCommentModify .info p.modifyPassword #comment_password { width:62%; }
.xans-board-commentform .boardCommentModify .info p.password .label { margin:0; }
.xans-board-commentform .modifyComment { margin:7px 0 0; word-wrap:break-word; }
.xans-board-commentform .modifyComment textarea#comment_modify { width:100%; height:50px; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.xans-board-commentform .modifyByte { margin:7px 0 0; text-align:right; }

/* 댓글 작성 */
.xans-board-commentwrite { padding:29px 0 0; }
    /* 권한 있음 */
    .xans-board-commentwrite .boardCommentWrite fieldset { padding:7px 0 0; border-top:1px solid #d5d5d5; }
    .xans-board-commentwrite .boardCommentWrite .label { padding:0 5px 0 0; color:#757575; font-weight:normal; vertical-align:middle; letter-spacing:-1px; }
    .xans-board-commentwrite .boardCommentWrite .label.hide { display:none; }
    .xans-board-commentwrite .boardCommentWrite .info { margin:0 0 7px; padding:0 14px; }
    .xans-board-commentwrite .boardCommentWrite .info:after { content:""; display:block; clear:both; }
    .xans-board-commentwrite .boardCommentWrite .info p.name { float:left; width:48.5%; }
    .xans-board-commentwrite .boardCommentWrite .info p.password { float:right; width:51.5%; border-bottom:0; text-align:right; }
    .xans-board-commentwrite .boardCommentWrite .info p.name #comment_name { width:60%; }
    .xans-board-commentwrite .boardCommentWrite .info p.password #comment_password { width:60%; }
    .xans-board-commentwrite .boardCommentWrite .info p.password .label { margin:0; }
    .xans-board-commentwrite .boardCommentWrite .ec-base-help { margin:8px 14px; }
    .xans-board-commentwrite .boardCommentWrite .admin { margin:14px 0 0; }
    .xans-board-commentwrite .boardCommentWrite .admin a { display:block; text-align:center; }
    .xans-board-commentwrite .boardCommentWrite .comment { margin:7px 14px; }
    .xans-board-commentwrite .boardCommentWrite .comment textarea#comment { width:100%; height:50px; marign:0 0 10px 0; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
    .xans-board-commentwrite .boardCommentWrite .byteRating { padding:0 14px; }
    .xans-board-commentwrite .boardCommentWrite .byteRating:after { content:""; display:block; clear:both; }
    .xans-board-commentwrite .boardCommentWrite .byteRating .displaynone { display:none; }
    .xans-board-commentwrite .boardCommentWrite .rating { float:left; padding:0; width:75%; }
    .xans-board-commentwrite .boardCommentWrite .rating label { margin-right:5px; }
    .xans-board-commentwrite .boardCommentWrite .rating input { margin-right:2px; }
    .xans-board-commentwrite .boardCommentWrite .byte { float:right; margin:-4px 0 0; padding:0; width:25%; font-size:11px; text-align:right; }
    .xans-board-commentwrite .boardCommentWrite .captcha { overflow:hidden; position:relative; margin:7px 0; padding:0 14px 0 128px; }
    .xans-board-commentwrite .boardCommentWrite .captcha .img { position:absolute; left:14px; width:110px; }
    .xans-board-commentwrite .boardCommentWrite .captcha .form { margin:0; width:100%; }
    .xans-board-commentwrite .boardCommentWrite .captcha p { margin:8px 0 0; font-size:11px; }
    .xans-board-commentwrite .boardCommentWrite #captcha  { margin:2px 0 0 0; width:100%; }
    .xans-board-commentwrite .ec-base-button { margin:10px 14px; }
    /* 권한 없음 */
    .xans-board-commentwrite .boardCommentAuthority { margin:0 0 14px; padding:14px; font-size:11px; text-align:left; background:#f9f9f9; }

/* 댓글의 댓글 작성 */
.xans-board-commentreply { background:#f1f1f1; }
    /* 권한 있음 */
    .xans-board-commentreply .boardCommentWrite  fieldset { padding:7px 0 0; border-top:1px solid #d5d5d5; }
    .xans-board-commentreply .boardCommentWrite .label { padding:0 7px 0 0; color:#757575; font-weight:normal; vertical-align:middle; letter-spacing:-1px; }
    .xans-board-commentreply .boardCommentWrite .label.hide { display:none; }
    .xans-board-commentreply .boardCommentWrite .info { margin:0 0 5px; padding:0 14px; }
    .xans-board-commentreply .boardCommentWrite .info:after { content:""; display:block; clear:both; }
    .xans-board-commentreply .boardCommentWrite .info p:before { background:none; }
    .xans-board-commentreply .boardCommentWrite .info p,
    .xans-board-commentreply .boardCommentWrite .info p:first-child { padding:0; background:none; font-size:13px; }
    .xans-board-commentreply .boardCommentWrite .info p.name { float:left; margin-right:3%; width:46%; }
    .xans-board-commentreply .boardCommentWrite .info p.password { float:right; width:51%; border-bottom:0; text-align:right; }
    .xans-board-commentreply .boardCommentWrite .info p.name #comment_name { width:60%; }
    .xans-board-commentreply .boardCommentWrite .info p.password #comment_password { width:60%; }
    .xans-board-commentreply .boardCommentWrite .ec-base-help { margin:8px 14px; }
    .xans-board-commentreply .boardCommentWrite .admin { margin:10px 0 0; }
    .xans-board-commentreply .boardCommentWrite .admin a { display:block; text-align:center; }
    .xans-board-commentreply .boardCommentWrite .comment { margin:7px 14px; }
    .xans-board-commentreply .boardCommentWrite .comment textarea#comment { width:100%; height:50px; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
    .xans-board-commentreply .boardCommentWrite .byteRating { padding:0 14px; }
    .xans-board-commentreply .boardCommentWrite .byteRating:after { content:""; display:block; clear:both; }
    .xans-board-commentreply .boardCommentWrite .rating { float:left; padding:0; width:75%; }
    .xans-board-commentreply .boardCommentWrite .rating label { margin-right:5px; }
    .xans-board-commentreply .boardCommentWrite .rating input { margin-right:2px; }
    .xans-board-commentreply .boardCommentWrite .byte { float:right; margin:-4px 0 7px; padding:0; width:25%; font-size:11px; text-align:right; }
    .xans-board-commentreply .boardCommentWrite .captcha { overflow:hidden; position:relative; margin:7px 0; padding:0 14px 0 128px; }
    .xans-board-commentreply .boardCommentWrite .captcha .img { position:absolute; left:14px; width:110px; }
    .xans-board-commentreply .boardCommentWrite .captcha .form { margin:0; width:100%; }
    .xans-board-commentreply .boardCommentWrite .captcha p { margin:8px 0 0; font-size:11px; }
    .xans-board-commentreply .boardCommentWrite  #captcha  { margin:2px 0 0 0; width:100%; }
    .xans-board-commentreply .ec-base-button { margin:10px 14px; }
    /* 권한 없음 */
    .xans-board-commentreply .boardCommentAuthority { padding-top:5px; font-size:11px; text-align:left; background:#f9f9f9; }
/* 비밀글 확인 */
.xans-board-commentformsecret { overflow:hidden; margin:14px 7px; border-bottom:1px solid #d5d5d5; }
.xans-board-commentformsecret #secure_password { width:140px; }
