.xans-board-function { padding:10px 10px 0; color:#757575; font-size:12px; }
.xans-board-function p { padding:0 0 0 7px; line-height:25px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_triangle3.gif") no-repeat 0 10px; }
