.xans-board-readpackage { background:#fff; }
.xans-board-readpackage img { vertical-align:middle; }
.xans-board-read { overflow:hidden; }
.xans-board-read .label { font-weight:normal; }
.xans-board-read .label.hide { display:none; }
.xans-board-read .title { margin:14px 14px 0; }
.xans-board-read .title h3 { font-size:15px; word-wrap:break-word; }

.xans-board-read .info { overflow:hidden; margin:7px 0 7px; padding:0 14px; }
.xans-board-read .info p { position:relative; display:inline-block; padding:0 7px 0 8px; margin:7px 0 0; color:#757575; }
.xans-board-read .info p:first-child { padding-left:0; }
.xans-board-read .info p:before { display:block; content:""; position:absolute; top:2px; left:0; width:1px; height:11px; background:#d6d6d6; }
.xans-board-read .info p.vote:before { top:8px; }
.xans-board-read .info p:first-child:before { display:none; }
.xans-board-read .info p.chk { width:100%; margin:0; }
.xans-board-read .info p.vote a { margin:0 0 0 7px; }
.xans-board-read .info .writer a { color:#757575; }
.xans-board-read .info .rating img { margin:-4px 0 0; width:auto; height:11px; }
.xans-board-read .info .btnIcon img { width:12px; height:12px; }

.xans-board-read .content { margin:-1px 0 0; padding:14px 14px 14px; word-wrap:break-word; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; text-align:center; }
.xans-board-read .content p,
.xans-board-read .content div{ text-align:left; }
.xans-board-read .content img { margin:0 auto 10px; max-width:100%; }
.xans-board-read .content ul li { list-style:disc; }
.xans-board-read .attach { oveflow:hidden; padding:14px 10px 14px; border-bottom:1px solid #d5d5d5; color:#757575; }
.xans-board-read .attach:after { content:""; display:block; clear:both; }
.xans-board-read .attach a { padding:0 0 0 17px; text-decoration:underline; white-space:nowrap; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/board/ico_file.png") no-repeat 0 0; background-size:13px 12px; }
.xans-board-read .attach .label { float:left; width:20%; }
.xans-board-read .attach span { float:left; width:80%; }
.xans-board-read .attach span.file { color:#000000; text-decoration:underline; }
.xans-board-read .password { overflow:hidden; padding:7px 14px 14px; border-bottom:1px solid #d5d5d5; color:#757575; }
.xans-board-read .password .label { float:left; width:20%; padding-top:3px; line-height:24px; }
.xans-board-read .password .form { float:left; position:relative; width:80%; }
.xans-board-read .password .form.ec-board-member { float:none; width:100%; text-align:center; }
.xans-board-read .password .form.ec-board-member .gRight { position:static; }
.xans-board-read .password .passwordForm { display:block; padding:0 107px 0 0; }
.xans-board-read .password .gRight { position:absolute; right:0; top:0; }
.xans-board-read #password { width:100%; }

/* 버튼 */
.xans-board-read .ec-base-button { margin:10px 14px; }

/* read - 상품 */
.xans-board-product { overflow:hidden; margin:0 0 10px; padding:10px 10px 0; border-bottom:1px solid #ececec; background:#f1f1f1; }
.xans-board-product .ec-base-prdInfo { margin:0; padding:0; border:0; background: transparent; }
.xans-board-product .ec-base-prdInfo .ec-base-button { margin:0; }
.xans-board-product .ec-base-prdInfo .ec-base-button a { margin-bottom:7px; }
