.xans-board-secure { background:#f1f1f1; margin:14px 7px 0; padding:0 0 29px; line-height:1.5; }
.xans-board-secure h3 { color:#2e2e2e; background:#f0f0f0; border:1px solid #d5d5d5; text-align:center; line-height:43px; }
.xans-board-secure .secret { margin:-1px 0 0; border:1px solid #d5d5d5; background:#fff; }
.xans-board-secure .secret fieldset { margin:0 auto; padding:14px 28px; width:250px; }
.xans-board-secure .info { padding:0 0 14px 30px; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/board/ico_secret.png") no-repeat 0 4px; background-size:17px 20px; }
.xans-board-secure .password { display:-webkit-flex; display:-ms-flex; display:-moz-flex; display:flex; width:250px; }
.xans-board-secure .password input[type="password"] { flex:1; width:100%; margin:0 7px 0 0; }
.xans-board-secure .password label { display:none; }
