.xans-board-write { padding:14px; }

/* 테이블 */
.xans-board-write .ec-base-table.typeWrite { margin:-1px 0 7px; }
.xans-board-write .ec-base-table.typeWrite tbody td.write { padding:14px; }
.xans-board-write .ec-base-table.typeWrite #content { width:100%; height:100px; }
.xans-board-write .ec-base-table.typeWrite #email1,
.xans-board-write .ec-base-table.typeWrite #email2 { float:left; margin:0 1% 4px 0; width:45.5%; }
.xans-board-write .ec-base-table.typeWrite #email2 { float:right; margin:0 0 4px 0; }
.xans-board-write .ec-base-table.typeWrite #email3 { width:100%; }
.xans-board-write .ec-base-table.typeWrite .uccUrlSize { line-height:0; font-size:0; }
.xans-board-write .ec-base-table.typeWrite #ucc { margin:0 0 5px 0; width:100%; }
.xans-board-write .ec-base-table.typeWrite #ucc_width { display:inline-block; width:48%; }
.xans-board-write .ec-base-table.typeWrite #ucc_height { display:inline-block; margin:0 0 0 4%; width:48%; }
.xans-board-write .ec-base-table.typeWrite #captcha { width:100%; margin:3px 0 0; }
.xans-board-write .ec-base-table.typeWrite #board_category { margin:0 0 7px; }
.xans-board-write .ec-base-table.typeWrite select,
.xans-board-write .ec-base-table.typeWrite input[type="text"],
.xans-board-write .ec-base-table.typeWrite input[type="password"] { width:100%; }
.xans-board-write .ec-base-table.typeWrite .size { overflow:hidden; margin:0; padding:0; width:0; height:0; font-size:0; }

.xans-board-write .privacy { margin:0 0 14px; padding:5px 15px; border:1px solid #ccc; font-size:13px; background:#fff; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flexbox; display:flex; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; align-items:center; }
.xans-board-write .privacy p { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; word-break:break-all; }
.xans-board-write .privacy p input { margin:0 5px 0 0; vertical-align:middle; }
.xans-board-write .privacy span { margin:0 0 0 5px; line-height:29px; font-size:11px; text-align:right; text-decoration:underline; white-space:nowrap; }

/* write - 상품 */
.xans-board-write .ec-base-prdInfo { margin:0; background:transparent; }
.xans-board-write .ec-base-prdInfo .prdBox { margin-top:0; }
.xans-board-write .ec-base-prdInfo .ec-base-button { margin:0; }
.xans-board-write .ec-base-prdInfo .ec-base-button a { margin-bottom:7px; }