.xans-order-layerbasketpackage { position:fixed; top:50%; left:50%; z-index:1000; width:687px; margin:-300px 0 0 -252px; }
.xans-order-layerbasketpackage .content p { font-weight:bold; color:#2e2e2e; }

/* 장바구니 담긴 상품 구매 */
.xans-order-layerbasket.content { padding:0; }
.xans-order-layerbasket.content .totalCount { padding:15px 0 10px; margin:0 20px 15px; border-bottom:1px solid #ececec; font-size:14px; font-weight:bold; }
.xans-order-layerbasket.content .totalCount strong { color:#008bcc; }
.xans-order-layerbasket.content ul.prdList { display:table; width:658px; margin:0 auto 20px; font-size:0; line-height:0; }
.xans-order-layerbasket.content ul.prdList li.item { display:inline-block; vertical-align:top; }
.xans-order-layerbasket.content ul.prdList li.item .box { margin:0 auto; font-size:12px; color:#2e2e2e; line-height:18px; }
.xans-order-layerbasket.content ul.prdList li.item .box p { font-weight:normal; word-break:break-all; }
.xans-order-layerbasket.content ul.prdList .thumb { margin:0 0 10px; border:1px solid #ececec; width:150px; height:150px; }
.xans-order-layerbasket.content ul.prdList .name a { color:#2e2e2e; }
.xans-order-layerbasket.content ul.prdList .name .ec-set-product-name { display:block; }
.xans-order-layerbasket.content ul.column4 li.item { width:25%; }
.xans-order-layerbasket.content ul.column4 li.item .box { width:150px; }
.xans-order-layerbasket.content ul.prdList ul { margin:0; }
.xans-order-layerbasket.content ul.prdList ul li { color:#757575; }
.xans-order-layerbasket.content ul.prdList ul li.price { margin:5px 0; font-weight:bold; color:#000; }
.xans-order-layerbasket.content ul.prdList .strike { text-decoration:line-through; }
.xans-order-layerbasket.content ul.prdList .strike strong { font-weight:normal; }
