.xans-product-listrecommend.ec-base-product { margin:0; background-color:#f5f5f5; border-bottom:1px solid #d5d5d5; }
.xans-product-listrecommend:first-child h2 { border-top:0; }
.xans-product-listrecommend.ec-base-product h2 { margin:0; padding:14px 14px 0; font-size:14px; line-height:15px; color:#4a5164; background:none; }
.xans-product-listrecommend.ec-base-product > .prdList { padding-top:14px; }
.xans-product-listrecommend .ec-base-paginate { margin:0 0 14px; }