.xans-product-normalmenu { margin:0; }
.xans-product-normalmenu .title { margin:0 0 17px; }
.xans-product-normalmenu .title h3 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.xans-product-normalmenu .function { overflow:hidden; margin:20px 0 0; text-align:right; line-height:38px; border:1px solid #d7d5d5; }
.xans-product-normalmenu .function .btnCompare { display:inline-block; padding:0 12px; border-left:1px solid #d7d5d5; }
.xans-product-normalmenu .function .btnCompare:hover { color:#008bcc; text-decoration:none; }
.xans-product-normalmenu .prdCount { float:left; padding:0 0 0 8px; color:#008bcc; }
.xans-product-normalmenu ul#type { display:inline; margin:0 4px 0 0; }
.xans-product-normalmenu ul#type li { display:inline; padding:0 6px 0 10px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/bg_result_type.gif") no-repeat 0 50%; }
.xans-product-normalmenu ul#type li:first-child { background:none; }
.xans-product-normalmenu ul#type li a { color:#2e2e2e }
.xans-product-normalmenu ul#type li a:hover { color:#008bcc; text-decoration:none; }
.xans-product-normalmenu fieldset { margin:-1px 0 0; padding:7px 12px; border:1px solid #d7d5d6; text-align:right; background:#fbf9fa; }
.xans-product-normalmenu fieldset select { height:24px; }