.xans-coupon-productdetail { clear:both; overflow:hidden; }
.xans-coupon-productdetail > .title { position:relative; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
.xans-coupon-productdetail > .title h3 { padding:0 0 0 9px; font-size:12px; color:#008bcc; line-height:39px; }
.xans-coupon-productdetail > .title .button { position:absolute; top:7px; right:0; padding:0 0 0 7px; background:#fff; }

.xans-coupon-productdetail .couponSkinArea { padding:30px 0 0; text-align:center; }
.xans-coupon-productdetail .couponSkinArea ul { zoom:1; margin:0 auto; padding:0; }
.xans-coupon-productdetail .couponSkinArea ul:after { content:""; display:block; clear:both; }
.xans-coupon-productdetail .couponSkinArea ul li { display:inline; float:left; width:216px; padding:0; list-style:none; }
.xans-coupon-productdetail .couponSkinArea ul.grid1 { width:216px; }
.xans-coupon-productdetail .couponSkinArea ul.grid2 { width:472px; }
.xans-coupon-productdetail .couponSkinArea ul.grid2 li { margin:0 10px; }
.xans-coupon-productdetail .couponSkinArea ul.grid3 { width:708px; }
.xans-coupon-productdetail .couponSkinArea ul.grid3 li { margin:0 10px; }
.xans-coupon-productdetail .couponSkinArea .coupon { width:216px; height:105px; margin-bottom:20px; font-size:12px; line-height:1.5; text-align:center; background-repeat:no-repeat; }
.xans-coupon-productdetail .couponSkinArea .coupon img { border:0; }
.xans-coupon-productdetail .couponSkinArea .coupon p { margin:0; padding:0; }
.xans-coupon-productdetail .couponSkinArea .coupon .title { display:block; padding:8px 0 0; font-size:10px; line-height:15px; text-align:center; font-weight:normal; }
.xans-coupon-productdetail .couponSkinArea .coupon .discount { font-size:18px; line-height:28px; font-weight:bold; text-align:center; text-decoration:none; letter-spacing:-1px; text-decoration:none; }
.xans-coupon-productdetail .couponSkinArea .coupon .discount span { font-size:22px; }
.xans-coupon-productdetail .couponSkinArea .coupon .period { font-size:11px; line-height:13px; font-weight:bold; text-align:center; letter-spacing:-1px; }
.xans-coupon-productdetail .couponSkinArea .coupon .button { margin:5px 0 0; text-align:center; }
.xans-coupon-productdetail .couponSkinArea .imgCoupon .title,
.xans-coupon-productdetail .couponSkinArea .imgCoupon .discount,
.xans-coupon-productdetail .couponSkinArea .imgCoupon .period,
.xans-coupon-productdetail .couponSkinArea .imgCoupon .button { display:none; }
.xans-coupon-productdetail .couponSkinArea .imgCoupon .detail { height:100%; }

/* 쿠폰정보 레이어 */
#dCouponDetail { overflow:hidden; position:relative; width:398px; border:1px solid #757575; background:#fff; box-shadow:5px 5px 5px #d3d3d3; }
#dCouponDetail h3 { height:35px; padding:0 35px 0 19px; color:#fff; font-size:14px; line-height:35px; background:#495164; }
#dCouponDetail h3 + a { position:absolute; right:20px; top:10px; }
#dCouponDetail ul { padding:16px 10px 17px 20px; margin:25px 19px; background:#f5f5f5; }
#dCouponDetail ul li { margin:7px 0 0; color:#2e2e2e; line-height:18px; }
#dCouponDetail ul li:first-child { margin-top:0; }
#dCouponDetail ul + a { display:block; padding:12px 0; text-align:center; border-top:1px solid #d7d5d5; background:#fbfafa; }