.xans-livelinkon { position:relative; overflow:hidden; margin:30px 0 0; text-align:center; }
.xans-livelinkon p { margin:0 0 20px; }
.xans-livelinkon .descriptoin { position:absolute; top:100%; left:100%; width:100%; }