/* 타이틀 */
.xans-myshop-addrregister { margin:14px 7px 0; padding:0 0 19px; background:#f1f1f1; }
.xans-myshop-addrregister h3 { padding:0 14px; line-height:43px; font-size:13px; font-weight:bold; color:#fff; background:#737781; }

/* 리스트 */
.xans-myshop-addrregister .ec-base-table.typeWrite select { margin:0 4px 0 0; }
.xans-myshop-addrregister .ec-base-table.typeWrite .shipping td { padding:7px 15px 7px 0; text-align:right; }

/* input 크기 조절 */
.xans-myshop-addrregister #ma_rcv_title,
.xans-myshop-addrregister #ma_rcv_name { width:100%; }
.xans-myshop-addrregister #ma_rcv_phone1,
.xans-myshop-addrregister #ma_rcv_mobile_no1 { width:33%; }
.xans-myshop-addrregister #ma_rcv_phone2,
.xans-myshop-addrregister #ma_rcv_phone3,
.xans-myshop-addrregister #ma_rcv_mobile_no2,
.xans-myshop-addrregister #ma_rcv_mobile_no3 { width:25%; margin:0 3px; text-align:center; }