/* 공통 */
.xans-myshop-orderhistoryapplyexchange .title { padding:14px 43px 14px 14px; line-height:1.3em; background-color:#737782; color:#fff; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistoryapplyexchange .subTitle { padding:14px 43px 14px 14px; line-height:1.3em; background-color:#f0f0f0; color:#508bed; border:solid #d5d5d5; border-width:0 1px 0 1px; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistoryapplyexchange .help { padding:7px 14px 7px 34px; color:#757575; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_help.png") no-repeat 14px 7px; background-size:14px; }
.xans-myshop-orderhistoryapplyexchange .txtEm { color:#508bed; }
.xans-myshop-orderhistoryapplyexchange .xans-myshop-products + .ec-base-button { margin:0; padding:7px 14px 7px 10px; background:#fff; border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyexchange .xans-myshop-products + .ec-base-button a { max-width:155px; }
.xans-myshop-orderhistoryapplyexchange .ec-base-button { margin-bottom:0; }

/* 상품정보 */
.xans-myshop-orderhistoryapplyexchange { margin:14px 7px 0; padding:0 0 14px; }
.xans-myshop-orderhistoryapplyexchange #sPrdList { margin:14px 0 0; }
.xans-myshop-orderhistoryapplyexchange #sPrdList .message { padding:14px 0; text-align:center; border:1px solid #d5d5d5; background:#fff; }
.xans-myshop-orderhistoryapplyexchange #selected_product { border:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyexchange .orderList { padding:7px 14px 0; background:#fff; border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyexchange .orderList:first-child { border-top-width:0; }
.xans-myshop-orderhistoryapplyexchange .orderList .description { position:relative; min-height:90px; padding:7px 0 0 90px; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .thumbnail { position:absolute; left:0; top:7px; z-index:10; width:73px; text-align:center; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .thumbnail img { max-width:100%; max-height:75px; border:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .name { display:block; margin:0 0 7px; font-size:13px; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .name .ec-set-product-name { display:block; margin:0 0 3px; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .price { padding:0 0 7px; font-size:13px; color:#000; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .info li .price { margin:0 0 7px; color:#000; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .info li .quantity {position:relative; display:inline-block; margin:0 0 0 14px; padding:0 0 0 14px; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .info li .quantity:before { display:block; content:""; position:absolute; top:1px; left:0; width:1px; height:13px; background:#989899; }
.xans-myshop-orderhistoryapplyexchange .orderList .description .price span > span { font-size:11px; }
.xans-myshop-orderhistoryapplyexchange .orderList .option,
.xans-myshop-orderhistoryapplyexchange .orderList .optionList .name,
.xans-myshop-orderhistoryapplyexchange .orderList .quantity { overflow:hidden; }
.xans-myshop-orderhistoryapplyexchange .orderList .option { padding:14px; font-size:13px; border-top:1px solid #ececec; }
.xans-myshop-orderhistoryapplyexchange .orderList .quantity { padding:14px; font-size:13px; }
.xans-myshop-orderhistoryapplyexchange .orderList .gLeft { float:left; }
.xans-myshop-orderhistoryapplyexchange .orderList .gRight { float:right; }
.xans-myshop-orderhistoryapplyexchange .orderList .quantity input { width:50px; }
.xans-myshop-orderhistoryapplyexchange .orderList .strike { text-decoration:line-through; }
.xans-myshop-orderhistoryapplyexchange .orderList .txtEm { color:#508bed; line-height:28px; }
.xans-myshop-orderhistoryapplyexchange .orderList .button { padding:0 0 7px; }
.xans-myshop-orderhistoryapplyexchange .orderList .total { margin:7px 0 0; padding:14px 0; text-align:right; border-top:1px solid #ececec; }
.xans-myshop-orderhistoryapplyexchange .status { margin:0 -14px; padding:14px; color:#508bed; background-color:#f1f1f1; border-top:1px solid #d5d5d5;}
.xans-myshop-orderhistoryapplyexchange .exchangProduct .orderList { border:solid #d5d5d5; border-width:0 1px 1px 1px; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .quantity { margin:7px 0 0; padding:0 0 7px; border:none; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .option { padding:14px 0; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .setProduct li { margin:0; padding:14px 0; color:#1b1b1b; background:none; border-top:0; border-bottom:1px solid #ececec; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .setProduct strong { font-weight:normal; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .total { padding:7px 0; text-align:right; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .button { padding:7px 0 14px; }
.xans-myshop-orderhistoryapplyexchange .exchangProduct .empty { padding:20px 0 30px; text-align:center; color:#212530; font-size:12px; background:#fff; border:solid #d5d5d5; border-width:0 1px 1px 1px; }
.xans-myshop-orderhistoryapplyexchange .optionList { padding:0; color:#353535; }
.xans-myshop-orderhistoryapplyexchange .optionList > li { padding:7px 0 0; border-top:1px solid #ececec; }

/* 옵션변경 레이어 */
.xans-myshop-orderhistoryapplyexchange .layerOptionModify {  width:auto; margin:7px 0; padding:14px; border:1px solid #d5d5d5; background-color:#f1f1f1; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify .titleArea { margin-top:3px; display:none; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify .ec-base-button { margin:20px 0 0; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify ul { padding:0; font-size:12px; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify li { position:relative; margin:7px 0 0; padding:0 0 0 73px; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify li:first-child { margin:0; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify li span { display:block; position:absolute; top:0; left:0; width:73px; height:29px; font-size:13px; color:#757575; line-height:29px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify select,
.xans-myshop-orderhistoryapplyexchange .layerOptionModify input[type="text"] { width:100%; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify .button { margin:7px 0 0; padding:0; text-align:center; }
.xans-myshop-orderhistoryapplyexchange .layerOptionModify .button .btnBasic1 { color:#fff; }

/* 사유, 정보 */
.xans-myshop-orderhistoryapplyexchange .boardViewCS { margin:14px 0 0; }
.xans-myshop-orderhistoryapplyexchange .boardViewCS table tbody textarea { width:100%; }
.xans-myshop-orderhistoryapplyexchange .boardViewCS select,
.xans-myshop-orderhistoryapplyexchange .boardViewCS input[type="text"] { width:100%; }
.xans-myshop-orderhistoryapplyexchange .boardViewCS .more { float:right; margin:2px 0 0; font-size:12px; text-decoration:underline; }
.xans-myshop-orderhistoryapplyexchange .boardViewCS .address { padding:14px; line-height:1.5em; background:#fff; border:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyexchange .boardViewCS .address .tel { display:block; margin:14px 0 0; font-size:12px; color:#757575; }

/* INPUT */
#pickup_addr1 { margin:5px 0; }
#pickup_phone1_1, #pickup_phone2_1{ width:33%; }
#pickup_phone1_2, #pickup_phone1_3, #pickup_phone2_2, #pickup_phone2_3  { margin:0 4px; width:25%; }
