/* 공통 */
.xans-myshop-orderhistoryapplyreturn .title { padding:14px 43px 14px 14px; line-height:1.3em; background-color:#737782; color:#fff; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistoryapplyreturn .subTitle { padding:14px 43px 14px 14px; line-height:1.3em; background-color:#f0f0f0; color:#508bed; border:solid #d5d5d5; border-width:0 1px 0 1px; -webkit-tap-highlight-color: rgba(255,255,255,0); }
.xans-myshop-orderhistoryapplyreturn .txtEm { color:#508bed; }
.xans-myshop-orderhistoryapplyreturn .xans-myshop-products + .ec-base-button { margin:0 0 14px; padding:7px 14px; background:#fff; border:solid #d5d5d5; border-width:0 1px 1px 1px; }
.xans-myshop-orderhistoryapplyreturn .xans-myshop-products + .ec-base-button a { max-width:155px; }
.xans-myshop-orderhistoryapplyreturn .ec-base-button { margin-bottom:0; }

/* 상품정보 */
.xans-myshop-orderhistoryapplyreturn { margin:14px 7px 0; padding:0 0 14px; }
.xans-myshop-orderhistoryapplyreturn .orderList { padding:7px 14px 0; background:#fff; border-top:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyreturn .orderList:first-child { border-top-width:0; }
.xans-myshop-orderhistoryapplyreturn .orderList .description { position:relative; min-height:90px; padding:7px 0 0 90px; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .thumbnail { position:absolute; left:0; top:7px; z-index:10; width:73px; text-align:center; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .thumbnail img { max-width:100%; max-height:75px; border:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .name { display:block; margin:0 0 7px; font-size:13px; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .name .ec-set-product-name { display:block; margin:0 0 3px; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .price { padding:0 0 7px; font-size:13px; color:#000; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .info li .price { margin:0 0 7px; color:#000; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .info li .quantity {position:relative; display:inline-block; margin:0 0 0 14px; padding:0 0 0 14px; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .info li .quantity:before { display:block; content:""; position:absolute; top:1px; left:0; width:1px; height:13px; background:#989899; }
.xans-myshop-orderhistoryapplyreturn .orderList .description .price span > span { font-size:11px; }
.xans-myshop-orderhistoryapplyreturn .orderList .option,
.xans-myshop-orderhistoryapplyreturn .orderList .optionList .name,
.xans-myshop-orderhistoryapplyreturn .orderList .quantity { overflow:hidden; }
.xans-myshop-orderhistoryapplyreturn .orderList .option,
.xans-myshop-orderhistoryapplyreturn .orderList .quantity { padding:14px; font-size:13px; border-top:1px solid #ececec; }
.xans-myshop-orderhistoryapplyreturn .orderList .gLeft { float:left; }
.xans-myshop-orderhistoryapplyreturn .orderList .gRight { float:right; }
.xans-myshop-orderhistoryapplyreturn .orderList .quantity input { width:50px; }
.xans-myshop-orderhistoryapplyreturn .orderList .strike { text-decoration:line-through; }
.xans-myshop-orderhistoryapplyreturn .status { margin:0 -14px; padding:14px; color:#508bed; background-color:#f1f1f1; border-top:1px solid #d5d5d5;}

/* 옵션변경 레이어 */
.xans-myshop-orderhistoryapplyreturn .layerOptionModify {  width:auto; margin:7px 0; padding:14px; border:1px solid #d5d5d5; background-color:#f1f1f1; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify .titleArea { margin-top:3px; display:none; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify .ec-base-button { margin:20px 0 0; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify ul { padding:0; font-size:12px; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify li { position:relative; margin:7px 0 0; padding:0 0 0 73px; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify li:first-child { margin:0; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify li span { display:block; position:absolute; top:0; left:0; width:73px; height:29px; font-size:13px; color:#757575; line-height:29px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify select,
.xans-myshop-orderhistoryapplyreturn .layerOptionModify input[type="text"] { width:100%; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify .button { margin:7px 0 0; padding:0; text-align:center; }
.xans-myshop-orderhistoryapplyreturn .layerOptionModify .button .btnBasic1 { color:#fff; }

/* 사유, 정보 */
.xans-myshop-orderhistoryapplyreturn .boardViewCS { margin:14px 0 0; }
.xans-myshop-orderhistoryapplyreturn .boardViewCS table tbody textarea { width:100%; }
.xans-myshop-orderhistoryapplyreturn .boardViewCS select,
.xans-myshop-orderhistoryapplyreturn .boardViewCS input[type="text"] { width:100%; }
.xans-myshop-orderhistoryapplyreturn .boardViewCS .more { float:right; margin:2px 0 0; font-size:12px; text-decoration:underline; }
.xans-myshop-orderhistoryapplyreturn .boardViewCS .address { padding:14px; line-height:1.5em; background:#fff; border:1px solid #d5d5d5; }
.xans-myshop-orderhistoryapplyreturn .boardViewCS .address .tel { display:block; margin:14px 0 0; font-size:12px; color:#757575; }

/* INPUT */
#pickup_addr1 { margin:5px 0; }
#pickup_phone1_1, #pickup_phone2_1{ width:33%; }
#pickup_phone1_2, #pickup_phone1_3, #pickup_phone2_2, #pickup_phone2_3  { margin:0 4px; width:25%; }
