#popup { width:450px; }
.content { min-height:250px; }
.xans-link-bookmark .info { padding:153px 0 20px 0; text-align:center; font-size:12px; line-height:1.8em; background:url("//img.echosting.cafe24.com/skin/base/link/bg_bookmark.gif") center 33px no-repeat; }