#popup { width:600px; }
.xans-calendar-write td input,
.xans-calendar-write td textarea { padding:2px 2px 2px 4px; width:350px; height:18px; color:#202020; border:1px solid #d9d9d9; }
.xans-calendar-write td input#date { width:70px; text-align:center; }
.xans-calendar-write td textarea { height:80px; }