<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- PG크로스브라우징필수내용 -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- // PG크로스브라우징필수내용 -->

    <title>기본 레이아웃</title>
    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->

    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/basic.js)-->
    <!--@js(/js/common.js)-->
    <!--@js(/js/module/layout/quick_view.js)-->
</head>
<body id="main">
<div id="skipNavigation">
    <p><a href="#category">전체상품목록 바로가기</a></p>
    <p><a href="#contents">본문 바로가기</a></p>
</div>

<div id="header">
<div class="inner">
    <div class="topArea">
        <h1 module="Layout_LogoTop">
            <!--@css(/css/module/layout/logotop.css)-->
            <a href="/index.html">{$mall_name}</a>
        </h1>
        <div module="Layout_SearchHeader">
            <!--@css(/css/module/layout/searchHeader.css)-->
            <!--
                $product_page=/product/detail.html
                $category_page=/product/list.html
            -->
            <fieldset>
                <legend>검색</legend>
                {$form.keyword}<input type="image" src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/btn_search.gif" alt="검색" onclick="{$action_search_submit}" /></fieldset>
        </div>
    </div>

    <div module="Layout_multishopList" class="list">
        <!--@css(/css/module/layout/multishopList.css)-->
        <button type="button" class="toggle"><span><img src="//img.cafe24.com/img/common/global/{$current_language_code}_18x12.png" alt="" /> {$current_language}</span></button>
        <ul module="Layout_multishopListitem">
            <li class="{$selected_class}">
                <a href="//{$shop_domain}/">
                    <img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" />
                    <span class="name">{$locale_language}</span>
                    <span class="unit">{$currency_code}</span>
                </a>
            </li>
            <li class="{$selected_class}">
                <a href="//{$shop_domain}/">
                    <img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" />
                    <span class="name">{$locale_language}</span>
                    <span class="unit">{$currency_code}</span>
                </a>
            </li>
        </ul>
    </div>

    <div module="Layout_multishopList" class="thumb">
        <!--@css(/css/module/layout/multishopList.css)-->
        <ul module="Layout_multishopListitem">
            <li>
                <a href="//{$shop_domain}/">
                    <img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" />
                </a>
            </li>
            <li>
                <a href="//{$shop_domain}/">
                    <img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" />
                </a>
            </li>
        </ul>
        <div module="Layout_multishopListmultioption" class="multiOption">
            <a href="#none">
                <span module="Layout_multishopListmultioptionCountry" class="ship">
                    <strong>Ship to</strong><span> : </span>
                </span>
                <span module="Layout_multishopListmultioptionLanguage" class="language">
                    <strong>Language</strong><span> : <img src="//img.cafe24.com/img/common/global/{$language_code}_32x24.png" alt="" />{$language_name}</span>
                </span>
            </a>
        </div>
    </div>

    <div module="Layout_statelogoff">
        <!--@css(/css/module/layout/statelogoff.css)-->
        <a href="/member/login.html" class="log">로그인</a>
        <a href="/member/join.html">회원가입</a>
        <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
        <a href="/myshop/order/list.html">주문조회</a>
        <a href="/myshop/index.html">마이쇼핑</a>
        <a class="{$board_display|display}" href="/board/index.html">게시판</a>
    </div>

    <div module="Layout_stateLogon">
        <!--@css(/css/module/layout/statelogon.css)-->
        <span class="myinfo"><strong>{$name}</strong>님 환영합니다. <a href="/member/modify.html">회원정보수정</a></span>
        <a href="{$action_logout}" class="log">로그아웃</a>
        <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
        <a href="/myshop/order/list.html">주문조회</a>
        <a href="/myshop/index.html">마이쇼핑</a>
        <a class="{$board_display|display}" href="/board/index.html">게시판</a>
    </div>

    <ul class="special">
        <li><a href="/product/list.html?cate_no=24">신상품</a></li>
        <li><a href="/product/list.html?cate_no=25">프리미엄</a></li>
        <li><a href="/product/list.html?cate_no=26">스페셜상품</a></li>
    </ul>

    <ul module="Layout_shoppingInfo">
        <!--@css(/css/module/layout/shoppingInfo.css)-->
        <li class="{$use_mileage|display}"><a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a></li>
        <li class="{$use_basket_cnt|display}"><a href="/order/basket.html">장바구니 <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a></li>
        <li class="{$use_interest_prd|display}"><a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a></li>
        <li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
        <li class="{$use_coupon_cnt|display}"><a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a></li>
        <li class="{$use_deposit|display}"><a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a></li>
    </ul>

    <div class="link">
        <a module="Layout_bookmark" href="/link/bookmark.html" target="_blank" onclick="winPop(this.href); return false;"><span>즐겨찾기</span></a>
        <a module="Layout_shortcut" href="/link/shortcut.html" target="_blank" onclick="winPop(this.href); return false;">바로가기</a>
    </div>
</div>
</div><hr class="layout" />

<div id="wrap">
    <div id="container">
        <div id="contents">
            <!--@contents-->
        </div><hr class="layout" />

        <div id="sidebar">
            <div module="Layout_CategorySupplyList"  id="category">
                <!--@css(/css/module/layout/categorySupplyList.css)-->
                <div class="mainDirect {$main_title_display|display}"><a href="{$main_url}">{$main_title}</a></div>
                <div class="position" id="{$category_list}">
                    <ul>
                        <li module="Layout_Second" id='{$category_no}'><a href='{$category_url}' class="second">{$category_name}</a>
                        <ul module="Layout_Third">
                            <li id='{$category_no}' class="depth2"  onmouseover="{$sub_category_show}" onmouseout="{$sub_category_hide}"><a href='{$category_url}'>{$category_name}</a>
                                <div class='sub-category' style='display:none;'>
                                <ul>
                                    <li module="Layout_Fourth" id='{$category_no}'><a href='{$category_url}'>{$category_name}</a>
                                        <ul module="Layout_Fifth">
                                            <li  id='{$category_no}'><a href='{$category_url}'>{$category_name}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><hr class="layout" />

    <div id="banner">
        <p><a href="#none"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/img_banner1.jpg" alt="" /></a></p>
    </div>

    <div id="quick">
        <div module="Layout_orderBasketcount">
            <!--@css(/css/module/layout/orderBasketcount.css)-->
            <strong>장바구니</strong> <span><a href="/order/basket.html">{$basket_count}</a>개</span>
        </div>

        <div module="Layout_productRecent">
            <!--@css(/css/module/layout/productRecent.css)-->
            <h2><a href="/product/recent_view_product.html">최근 본 상품</a></h2>
            <ul>
                <li class="{$disp_recent|display}">
                    <a href="/product/detail.html{$param}"><img src="{$recent_img}" alt="" /><span>{$name}</span></a>
                </li>
                <li class="{$disp_recent|display}">
                    <a href="/product/detail.html{$param}"><img src="{$recent_img}" alt="" /><span>{$name}</span></a>
                </li>
            </ul>
            <p class="player"><img src="//img.echosting.cafe24.com/skin/base/layout/btn_recent_prev.gif" alt="이전 제품" class="prev" /><img src="//img.echosting.cafe24.com/skin/base/layout/btn_recent_next.gif" alt="다음 제품" class="next" /></p>
        </div>

        <p class="pageTop"><a href="#header" title="화면 최상단으로 이동하기"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/btn_top1.gif" alt="맨위로" /></a></p>

        <p class="banner"><a href="#none"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/img_banner2.jpg" alt="" /></a></p>
    </div>
</div><hr class="layout" />

<div id="footer">
    <div class="inner">
        <span module="Layout_LogoBottom">
            <!--@css(/css/module/layout/logobottom.css)-->
            <a href="/index.html">{$mall_name}</a>
        </span>

        <div module="Layout_footer">
            <!--@css(/css/module/layout/footer.css)-->
            <ul class="utilMenu">
                <li class="home"><a href="/index.html">홈</a></li>
                <li><a href="/shopinfo/company.html">회사소개</a></li>
                <li><a href="/member/agreement.html">이용약관</a></li>
                <li><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a></li>
                <li><a href="/shopinfo/guide.html">이용안내</a></li>
            </ul>
            <p class="address">
                <span>법인명(상호) : {$company_name} </span> <span>대표자(성명) : {$president_name}</span> <span>사업자 등록번호 안내 : [{$company_regno}]</span> <span>통신판매업 신고 {$network_regno}</span> <span>{$biz_no_link}</span> <br />
                <span>전화 : {$phone}</span> <span>팩스 : {$fax}</span> <span>주소 : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span><br />
                <span class="{$cpo_email|display}">개인정보보호책임자 : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span><br />
                <span>Contact <strong><a href="mailto:{$email}">{$email}</a></strong> for more information.</span>
            </p>
            <p class="copyright">Copyright &copy; <strong>{$mall_name}</strong>. All rights reserved.</p>
            <p class="pageTop"><a href="#header" title="화면 최상단으로 이동하기"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/btn_top2.gif" alt="맨위로" /></a></p>
            <p class="hosting"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/logo_cafe24.png" alt="hosting by cafe24 카페24(주)" /></p>
        </div>
    </div>
</div>

<!-- 결제를 위한 필수 영역 -->
<div id="progressPaybar" style="display:none;">
    <div id="progressPaybarBackground" class="layerProgress"></div>
    <div id="progressPaybarView">
        <div class="box">
            <p class="graph">
                <span><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/txt_progress.gif" alt="현재 결제가 진행중입니다." /></span>
                <span><img src="//img.echosting.cafe24.com/skin/base/layout/img_loading.gif" alt="" /></span>
            </p>
            <p class="txt">
                본 결제 창은 결제완료 후 자동으로 닫히며,결제 진행 중에 본 결제 창을 닫으시면<br />
                주문이 되지 않으니 결제 완료 될 때 까지 닫지 마시기 바랍니다.
            </p>
        </div>
    </div>
</div>
<!-- // 결제를 위한 필수 영역 -->

<div module="Layout_multishopShipping">
    <!--@css(/css/module/layout/multishopShipping.css)-->
    <!--@js(/js/module/layout/multishopShipping.js)-->
    <div class="dimmed"></div>
    <div class="worldshipLayer">
        <h2>WORLD SHIPPING</h2>
        <div class="content">
            <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
            <div class="select">
                <select module="Layout_multishopShippingCountrylist">
                    <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                    <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                </select>
            </div>
            <div class="select">
                <select module="Layout_multishopShippingLanguagelist">
                    <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                    <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                </select>
            </div>
        </div>
        <div class="btnArea">
            <a href="#none"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/link/btn_go.gif" alt="GO" /></a>
        </div>
        <a href="#none" class="btnClose"><img src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" width="13" height="13" alt="close" /></a>
    </div>
</div>

<div module="Layout_conversionPc">
    <!--@css(/css/module/layout/conversionpc.css)-->
    <a href="{$mobile_url}">모바일 화면보기</a>
</div>
</body>
</html>