@charset "utf-8";

/* Hidden Text */
.blind { overflow:hidden; position:absolute; width:0; height:0; white-space:nowrap; text-indent:150%; font-size:0; line-height:0; }

/* text */
.txtEm, .txtEm a { color:#1b87d4; font-style:normal; }
.txtWarn, .txtWarn a { color:#ef5012; font-style:normal; }
a:hover .txtEm, a:hover .txtWarn { text-decoration:underline; }

/* mInfo */
.xans-order-throttlewaiting { padding:95px 0 0; }
.xans-order-throttlewaiting .visual { text-align:center; }
.xans-order-throttlewaiting h2 { margin:40px 0; font-size:36px; text-align:center; }
.xans-order-throttlewaiting span { font-size:20px; color:#888; }
.xans-order-throttlewaiting .queue { width:760px; margin:0 auto; padding:35px 0; background:#f7f7f7; font-family:"돋움", Dotum, AppleGothic, sans-serif; font-size:28px; font-weight:500; text-align:center; }
.xans-order-throttlewaiting .queue .awaiter { display:inline-block; font-size:28px; font-weight:500; color:#3a8ee2; }
.xans-order-throttlewaiting .queue .awaiter span { font-size:inherit; font-weight:inherit; color:inherit; }
.xans-order-throttlewaiting .queue .awaiter .count { position:relative; }
.xans-order-throttlewaiting .queue .awaiter .count:after { content:''; display:block; position:absolute; left:0; bottom:-3px; width:calc(100% + 24px); height:2px; background:#3a8ee2; }
.xans-order-throttlewaiting .txtInfo { position:relative; width:560px; margin:20px auto 0; padding:0 0 0 22px; box-sizing:border-box; font-size:12px; font-family:"돋움", Dotum, AppleGothic, sans-serif; font-size:12px; color:#444; text-align:center; line-height:18px; }
.xans-order-throttlewaiting .txtInfo:after { content:''; display:block; overflow:hidden; position:absolute; left:0; top:0; width:17px; height:17px; border-radius:100%; background:#9da6b4 url('//img.echosting.cafe24.com/suio/ico_info_state.png') no-repeat center center; background-size:3px auto; }
