/**
 * 모바일쇼핑몰 슬라이딩메뉴
 */

body { position:relative; height:100%; }
#wrap { min-height:100%; }

/* 확장 */
html.expand body { position:fixed; top:0; left:0; width:100%; }
html.expand #container { -webkit-transform: translate(87%, 0); -moz-transform: translate(87%, 0); -ms-transform: translate(87%, 0); -o-transform: translate(87%, 0); transform: translate(87%, 0); }
html.expand #btnFoldLayout { z-index:405; }
html.expand #aside { z-index:0; overflow-x:hidden; }

/* aside */
#aside { z-index:-1; visibility:hidden; position:fixed; left:0px; top:0px; bottom:0; overflow:auto; overflow-x:hidden; min-width:225px; width:87%; font-size:11px; background-color:#f9f9f9; }
#aside .member { padding:0 0 0 14px; border-bottom:1px solid #c8c7cc; font-size:13px; line-height:41px; font-weight:normal;
background: -webkit-linear-gradient(#f7f7f7,#eff0f0,#e8e9e9); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#f7f7f7,#eff0f0,#e8e9e9); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#f7f7f7,#eff0f0,#e8e9e9); /* For Firefox 3.6 to 15 */
background: linear-gradient(#f7f7f7,#eff0f0,#e8e9e9); /* Standard syntax */
}
#aside .member  strong { color:#508bed; text-decoration:underline; }
#aside .member.xans-layout-statelogoff a { display:inline-block; width:auto; line-height:27px; padding:0 7px; margin:0 3px 0 0; border:1px solid #d5d5d5; border-bottom-color:#b5b5b5; border-radius:3px; color:#1b1b1b; background-color:#fff; }
#aside .member a.btnLogin { border:1px solid #4a5164; border-bottom-color:#3b4150; color:#fff; background-color:#4a5164; }
#aside .btnClose { position:absolute; top:0; right:0; }
#aside .btnClose { display:block; padding:13px; }
#aside .membership { padding:0 14px 11px; }
#aside .membership li { display:inline-block; margin:0 15px 0 0; padding:10px 0 0; }
#aside .membership li a { color:#508bed; }
#aside .membership li.like a { color:#000; }
#aside .membership li.like a span { color:#508bed; }
#aside .xans-myshop-main { background-color:#4a5164; }
#aside .xans-myshop-main a {
    float:left; width:33.3%; padding:34px 0 8px; color:#fff; text-align:center; border:1px solid #404757; border-right:0; background-color:#4a5164;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    -o-sizing:border-box;
    box-sizing:border-box;
}
#aside .xans-myshop-main a:first-child { border-left:0; }
#aside .xans-myshop-main:after { content:""; display:block; clear:both; }
#aside .xans-myshop-main a.wishList { background:#4a5164 url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_wish_list.png") no-repeat 50% 15px; background-size:20px 18px; }
#aside .xans-myshop-main a.recentList { background:#4a5164 url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_recent_list.png") no-repeat 50% 15px; background-size:20px 18px; }
#aside .xans-myshop-main a.orderList { background:#4a5164 url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_order_list.png") no-repeat 50% 13px; background-size:16px 21px; }

/* 타이틀 */
#slideCateList h2 { position:relative; padding:0 34px 0 14px; border-bottom:1px solid #e3e3e3; line-height:28px; color:#508bed; font-weight:bold; font-size:11px; cursor:pointer; background:#fff; }
#slideCateList h2.selected  .icoCategory { background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_1depth_on.gif"); }
#slideCateList h2 .icoCategory { overflow:hidden; position:absolute; right:3px; top:0; width:30px; height:29px; padding:0; border:0; text-indent:100%; white-space:nowrap; cursor:pointer; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_1depth.gif") no-repeat 7px 50%; background-size:13px 8px; }

/* 카테고리 리스트 */
#aside .categoryList { font-size:13px; font-weight:bold; }
#aside .categoryList ul { display:none; }
#aside .categoryList li { position:relative; background-color:#f1f1f1; }
#aside .categoryList li.selected > ul { display:block; }
#aside .categoryList li.selected > a.cate { color:#508bed; }
#aside .categoryList li.noChild > a.cate { border-top:1px solid #ebebeb; background-image:none !important; }
#aside .categoryList li.noChild:first-child > a.cate { border-top:0; }
#aside .categoryList li.selected.noChild { background-color:#f1f1f1; }
#aside .categoryList > li.selected .slideSubMenu li { background-color:#ffffff; }
#aside .categoryList > li { border-bottom:1px solid #cccccc; border-top:1px solid #fff; }
#aside .categoryList > li:first-child { border-top:0; }
#aside .categoryList > li > a.cate { background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_1depth.gif") no-repeat 15px 50%; background-size:13px 8px; }
#aside .categoryList > li.selected > a.cate { background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_1depth_on.gif"); }
#aside .categoryList > li > ul > li > a.cate { padding-left:42px; border-top:1px solid #ebebeb; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_2depth.gif") no-repeat 22px 50%; background-size:13px 13px; }
#aside .categoryList > li > ul > li.selected > a.cate { border-bottom:1px solid #ebebeb; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_2depth_on.gif"); background-size:13px 2px; }
#aside .categoryList > li > ul > li > ul > li > a.cate { padding-left:49px; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_2depth.gif") no-repeat 29px 50%; background-size:13px 13px; }
#aside .categoryList > li > ul > li > ul > li.selected > a.cate { border-bottom:1px solid #ebebeb; background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_snb_2depth_on.gif"); background-size:13px 2px; }
#aside .categoryList > li > ul > li > ul > li > ul > li a.cate { padding-left:56px; }
#aside .categoryList a.cate { display:block; padding:12px 94px 11px 34px; word-wrap:break-word; }
#aside .categoryList a.view {
    position:absolute; right:32px; top:8px; padding:0 7px; border:1px solid #d5d5d5; line-height:24px; color:#676767; font-size:11px; font-weight:normal; background-color:#ffffff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
#aside .categoryList li.noChild > a.view { display:none; }

/* 즐겨찾기 리스트 */
#aside .bookmarkCategory { font-size:13px; }
#aside .bookmarkCategory li { position:relative; border-bottom:1px solid #cccccc; border-top:1px solid #fff; }
#aside .bookmarkCategory li:first-child { border-top:0; }
#aside .bookmarkCategory li.selected { background-color:#508bed; }
#aside .bookmarkCategory li a { display:block; margin-right:35px; padding:11px 10px 11px 17px; word-wrap:break-word; }
#aside .bookmarkEmpty { padding:8px 0 6px 12px; border-bottom:1px solid #cccccc; color:#798490; font-size:11px; line-height:16px; background:#f1f1f1; }
#aside .bookmarkEmpty img { width:11px; height:11px; vertical-align:-1px; }

/* 즐겨찾기 아이콘 */
#aside .xans-layout-category li .icoBookmark,
#aside .bookmarkCategory li .icoBookmark { overflow:hidden; position:absolute; right:1px; top:0; width:30px; height:41px; padding:0; border:0; text-indent:100%; white-space:nowrap; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_bookmark.png") no-repeat 5px 14px; background-size:13px 13px; cursor:pointer; }
#aside .xans-layout-category li .icoBookmark.selected,
#aside .bookmarkCategory li .icoBookmark.selected { background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_bookmark_on.png"); }

/* 배송국가 */
#aside .multishop .xans-layout-multishoplistmultioptioncountry li a { padding:9px 10px 11px 17px; font-size:13px; }

/* 멀티쇼핑몰 */
#aside .xans-multishop-listitem li { border-bottom:1px solid #cccccc; border-top:1px solid #fff; background-color:#f1f1f1; }
#aside .xans-multishop-listitem li:first-child { border-top:0; }
#aside .xans-multishop-listitem li a { display:block; padding:6px 10px 6px 14px; word-wrap:break-word; }
#aside .xans-multishop-listitem li a .name { margin:0 0 0 5px; font-size:13px; vertical-align:middle; }

/* 로그인,로그아웃 */
#aside .loginState { padding:8px 0 8px 14px; min-height:50px; }
#aside .loginState p { display:inline-block; width:auto; padding:5px 7px; border:1px solid #d5d5d5; border-radius:3px; }
#aside .loginState p a { color:#1b1b1b; }

/* conatiner */
#container {
    z-index:100; position:relative; overflow:hidden; margin-top:-1px; margin-left:-1px; background-color:#fff;
    -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms; transition:300ms;
    -webkit-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;
}

/* btnFoldLayout */
#btnFoldLayout {
    display:none; position:absolute; left:87%; top:0; right:0; bottom:0; width:100%; height:100%; opacity:0;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0); and -webkit-focus-ring-color:rgba(0, 0, 0, 0);
}
