.xans-member-findidresult { margin:14px 7px 0; padding:0 0 29px; color:#333; font-size:13px; }
.xans-member-findidresult .info { padding:25px 21px 20px; border:1px solid #d5d5d5; text-align:center; background:#fff; }
.xans-member-findidresult .info .message { margin:0 0 10px; font-size:15px; font-weight:bold; }

.xans-member-findidresult .ec-base-table { margin:7px auto 0; }
.xans-member-findidresult .list { padding:14px; border:1px solid #d5d5d5; border-top:none; background:#fff; }