body { height:100%; }
.intro { min-height:100%; background:#f9f9f9 url("//img.echosting.cafe24.com/skin/base/intro/bg_intro.gif") repeat-x; }
.intro h1 { width:840px; height:25px; margin:0 auto; padding:11px 0 0; font-size:16px; line-height:16px; color:#2e2e2e; }
.intro h1:after { content:""; display:inline-block; width:1px; height:11px; margin:0 0 0 9px; background:#cacaca; }
.intro .alert { margin:2px 0 0; border-bottom:1px solid #e8e8e8; background:#fff; }
.intro .alert .inner { width:520px; margin:0 auto; min-height:305px; padding:63px 0 0 320px; background:#fff url("//img.echosting.cafe24.com/skin/base_ko_KR/intro/bg_youth_protection.gif") 18px 62px no-repeat; }
.intro .alert h2 { margin:22px 0 0; font-size:24px; }
.intro .alert .advice { margin:48px 0 0; font-size:16px; color:#2e2e2e; font-weight:bold; line-height:26px; word-break:keep-all; }
.intro .alert .info { margin:18px 0 0; font-size:12px; color:#757575; line-height:16px; }
.intro .alert .button { display:inline-block; margin:25px 0 0; }
.intro .alert .txtWarn { color:#f24443; }
.intro .alert .txtEm { color:#008bcc; }
.intro .member { position:relative; overflow:hidden; width:520px; margin:0 auto;  padding:50px 0 28px 320px; background:#f9f9f9; }
.intro form + .member { padding-top:30px; border-top:1px solid #dfdfdf; }
.intro .member h2 { position:absolute; right:620px; }
.intro .member label { padding:0 11px 0 0; }
.intro .member .login { position:relative; overflow:hidden; width:242px; padding:0 110px 0 0; }
.intro .member .login label { overflow:hidden; display:block; height:32px; line-height:32px; margin:0 0 2px; border:1px solid #d9d9d9; border-radius:2px; color:#8F8F91; background:#fff; }
.intro .member .login label input { width:100%; height:28px; line-height:28px; padding:2px 2px 2px 10px; border:0 none; color:#8F8F91; }
.intro .member .login label label { border:0; }
.intro .member .login .button,
.intro .member .login [class^="btn"] { position:absolute; right:0; top:0; }
.intro .member .login .security { margin:-10px 0 0; color:#8f8f91; font-size:12px; }
.intro .member .join { padding:7px 0 0 0; }
.intro .member .join a,
.intro .member .join a:hover { padding:0 5px 0 12px; font-size:12px; color:#2e2e2e; text-decoration:none; background:url("//img.echosting.cafe24.com/skin/base/common/ico_circle_arrow2.png") 0 50% no-repeat; }
.intro .member .snsArea { overflow:hidden; margin:0 0 0 -4px; }
.intro .member .snsArea:after { content:""; display:block; clear:both; }
.intro .member .snsArea li { float:left; margin:7px 0 0 4px; }
.intro .member .ipin { padding:10px 0 0; font-size:11px; line-height:16px; color:#8f8f91; }
.intro .member .ipin p { padding:18px 0 10px 12px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_arrow.png") no-repeat 2px 23px; }

/* 회원전용 */
.intro.membership .alert .inner { min-height:186px; padding:80px 0 0 320px; background:#fff url("//img.echosting.cafe24.com/skin/base/intro/bg_membership.gif") 83px 62px no-repeat; }
.intro.membership .member h2 { right:590px; font-size:20px; font-family:'맑은 고딕'; line-height:20px; }
.intro.membership .member .login .security { margin:10px 0 0; }