.xans-layout-footerpackage { font-size:11px; line-height:1.5em; color:#1b1b1b; border-top:1px solid #c5c5c6; }
.xans-layout-footerpackage .footerMenu p { overflow:hidden; padding: 8px 14px; border-bottom:1px solid #dddddd; background-color:#f9f9f9; text-align:right; }
.xans-layout-footerpackage .footerMenu p:first-child { background-color:#fff; }
    .footerMenu p.xans-layout-info { margin:0; }
.xans-layout-footerpackage .footerMenu .left { float:left; text-align:left; }
.xans-layout-footerpackage .footerMenu .btnUtil {
    display:inline-block; height:26px; line-height:24px; font-size:11px; margin:0; padding:0 10px;
    cursor:pointer; vertical-align:middle; font-family:Verdana,"맑은 고딕",Malgun Gothic,"돋움",Dotum; font-weight:400; border:0;
    border-radius:2px;
    -moz-box-sizing:border-box; box-sizing:border-box;
    color:#1b1b1b; border:1px solid #bcbcbc; background:#fff;
}
.xans-layout-footerpackage .footerMenu .btnUtil.typeTel { padding-left:23px; background:#fff url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_tel.png") no-repeat 10px 7px; background-size:8px 13px; vertical-align:middle; }
.xans-layout-footerpackage .footerMenu .btnUtil.typeTel strong { font-size:13px; vertical-align:top; }
.xans-layout-footerpackage .footerMenu .btnUtil.typeTop { padding-right:23px; background:#fff url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_top.png") no-repeat 90% 7px; background-size:12px 12px; }
.xans-layout-footerpackage .footerMenu .policy { padding:7px 0; text-align: center; background-color:#f9f9f9; font-size:0; line-height:0; }
.xans-layout-footerpackage .footerMenu .policy li { position:relative; display:inline-block; padding:0 6px 0 7px; line-height:13px; font-size:11px; }
.xans-layout-footerpackage .footerMenu .policy li:before { display:block; content:""; position:absolute; top:2px; left:0; width:1px; height:11px; background:#989899; }
.xans-layout-footerpackage .footerMenu .policy li:first-child:before { display:none; }

.xans-layout-footerpackage .footerMenu .policy li:first-child { background:none; }
.xans-layout-footerpackage address { padding:14px; border-bottom:1px solid #dddddd; background-color:#f9f9f9; }
.xans-layout-footerpackage address .footerInfo { display:table; width:100%; }
.xans-layout-footerpackage address dl { display:table-row; }
.xans-layout-footerpackage address dl dt { display:table-cell; width:110px; line-height:1.6; color:#757575; vertical-align:top; }
.xans-layout-footerpackage address dl dd { display:table-cell; width:auto; padding:0 0 0 7px; line-height:1.6; word-break:break-all; }
.xans-layout-footerpackage address a { color:#1b1b1b; }
.xans-layout-footerpackage .copyright { text-align:center; line-height:28px; color:#777777; font-size:9px; background-color:#eeeeee; }