.xans-layout-multishopshipping.ec-base-layer { display:none; top:200px; width:300px; }
.xans-layout-multishopshipping .worldshipLayer { text-align:center; line-height:1.5em; }
.xans-layout-multishopshipping .worldshipLayer .select { margin:14px 0 0; }
.xans-layout-multishopshipping .worldshipLayer .select select { width:100%; }