.searchBox.xans-layout-searchheader { display:none; position:absolute; top:0; left:0; right:0; z-index:200; background-color:#fff; border:1px solid #cccccc; border-radius:1px; }
.searchBox.xans-layout-searchheader .searchForm { position:relative; margin:7px 61px 7px 14px; padding:0 34px 0 33px; border:1px solid #ccc; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_search.png") no-repeat 7px 5px; background-size:20px 20px; }
.searchBox.xans-layout-searchheader .btnDelete { position:absolute; right:7px; top:5px; width:20px; height:20px; border:0; cursor:pointer; overflow:hidden; text-indent:100%; font-size:0; white-space:nowrap; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png") no-repeat 0 0; background-size:20px 20px; }
.searchBox.xans-layout-searchheader #keyword { width:100%; height:29px; padding:0; border:0; }
.searchBox.xans-layout-searchheader .btnClose {
    position:absolute; right:14px; top:7px; width:40px; height:31px; margin:0; padding:0;
    border:1px solid #d5d5d5; border-radius:4px; outline-style:none; cursor:pointer;
    background:#f0f0f0; font-size:13px; text-align:center;
 }

.searchBox.xans-layout-searchheader .xans-search-hotkeyword { background:#f8f8f8; }
.searchBox.xans-layout-searchheader .xans-search-hotkeyword ul { overflow-y:auto; max-height:278px; padding:7px 14px 7px 0; border-bottom:1px solid #d5d5d5; text-align:left; font-size:0; }
.searchBox.xans-layout-searchheader .xans-search-hotkeyword li { position:relative; display:inline-block; vertical-align:top; }
.searchBox.xans-layout-searchheader .xans-search-hotkeyword li a { display:inline-block; padding:7px 15px 7px 14px; color:#1b1b1b; font-size:13px; }
.searchBox.xans-layout-searchheader .xans-search-hotkeyword li a:before { display:block; content:""; position:absolute; top:7px; right:0; width:1px; height:13px; background:#757575; }
.searchBox.xans-layout-searchheader .xans-search-hotkeyword li:last-child a:before { display:none; }

.searchBox.xans-layout-searchheader .xans-search-recentkeyword { background:#f8f8f8; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword p { padding:12px 14px 11px; border-bottom:1px solid #d5d5d5; color:#787878; font-size:13px; text-align:left; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword ul { overflow-y:auto; max-height:252px; text-align:left; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword li { position:relative; padding:0 39px 0 0; border-bottom:1px solid #d5d5d5; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword li a { display:block; padding:12px 0 11px 14px; color:#1b1b1b; font-size:13px; min-height:13px; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword li .btnDelete { position:absolute; right:14px; top:10px; overflow:hidden; width:20px; height:20px; padding:0; border:0; text-indent:100%; white-space:nowrap; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png") no-repeat 0 0; background-size:20px 20px; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword .button { padding:8px 0; text-align:center; border-bottom:1px solid #d5d5d5; background:#f1f1f1; }
.searchBox.xans-layout-searchheader .xans-search-recentkeyword .button .btnDeleteAll {
    display:inline-block; height:29px; line-height:29px; margin:0; padding:0 18px; border:1px solid #d5d5d5;
    font-size:13px; cursor:pointer; vertical-align:middle; color:#000;
    background-color:#fff;
    border-radius:3px; -moz-box-sizing:border-box; box-sizing:border-box;
 }

.xans-layout-searchheader .searchForm .autoDrop { display:none; position:absolute; left:0; z-index:201; width:100%; border:1px solid #d5d5d5; background-color:#fff; }
.xans-layout-searchheader .searchForm .autoDrop li a { display:block; width:auto; padding:10px 33px; border-bottom:1px solid #d5d5d5; text-align:left; }
.xans-layout-searchheader .searchForm .autoDrop li:last-of-type a { border-bottom:none; }