.ec-base-table table { position:relative; margin:10px 0 0; border:1px solid #d7d5d5; border-top:0; color:#fff; line-height:1.5; }
  .ec-base-table.gLayoutFixed table { table-layout:fixed; }
  .ec-base-table.gLayoutFixed .gLayoutAuto table { table-layout:auto; }
.ec-base-table table:before { position:absolute; top:0; left:0; display:block; content:""; width:100%; height:1px; background:#d7d5d5; }
.ec-base-table thead th { padding:11px 0 10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; color:#353535; vertical-align:middle; font-weight:normal; background:#fbfafa; }
.ec-base-table tbody th { padding:11px 0 10px 18px; border:1px solid #dfdfdf; border-bottom-width:0; color:#353535; text-align:left; font-weight:normal; background-color:#fbfafa; }
.ec-base-table th { word-break:break-all; word-wrap:break-word; }
.ec-base-table th:first-child { border-left:0; }
.ec-base-table td { padding:11px 10px 10px; border-top:1px solid #dfdfdf; color:#353535; vertical-align:middle; word-break:break-all; word-wrap:break-word; }
.ec-base-table td.clear { padding:0 !important; border:0 !important; }

/* horizontal */
  /* typeWrite */
    .ec-base-table.typeWrite td { padding:8px 10px 7px; }
    .ec-base-table.typeWrite img { max-width:100% !important; height:auto !important; }

/* vertical */
  /* typeList */
    .ec-base-table.typeList table { border-top:1px solid #d7d5d5; }
    .ec-base-table.typeList table:before { display:none; }
    .ec-base-table.typeList td { padding:8px 10px 7px; }
    .ec-base-table.typeList tfoot td { padding:15px 10px 17px; background:#fbfafa; }
    .ec-base-table .message { border:1px solid #d7d5d5; padding:50px 0; text-align:center; color:#757575; font-weight:bold; }
    .ec-base-table table + .message { margin:-1px 0 0; }
    .ec-base-table table td.message { padding:50px 0; }
    .ec-base-table .scroll .message { border:0; }
  /* scroll */
    .ec-base-table.typeList .head td { padding:11px 0 10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; color:#353535; vertical-align:middle; text-align:center; background:#fbfafa; }
    .ec-base-table.typeList .head td:first-child { border-left:0; }
    .ec-base-table.typeList .scroll { position:relative; overflow-x:hidden; overflow-y:scroll; max-height:185px; min-height:100px; border:1px solid #d7d5d5; border-top-width:0; margin-top:-1px; }
    .ec-base-table.typeList .scroll table { border:0; margin:0; }
    .ec-base-table.typeList .scroll table:before { display:none; }
    .ec-base-table.typeList .scroll .message { border: 0; }
  /* thead - blind */
    .ec-base-table thead.blind,
    .ec-base-table thead.blind th { display:none; }
    .ec-base-table thead.blind + tbody tr:first-child th,
    .ec-base-table thead.blind + tbody tr:first-child td { border-top-width:0; }
  /* Line */
    .ec-base-table.typeList.gLine table { border-width:0; border-bottom-width:1px; }

/* common */
  /* border, background style none */
    .ec-base-table.typeClear table:before { display:none; }
    .ec-base-table.typeClear table,
    .ec-base-table.typeClear th,
    .ec-base-table.typeClear td { border:0 none; background:none; }
    .ec-base-table.typeClear th { font-weight:bold; }
  /* border */
    .ec-base-table.gBorder td { border-left:1px solid #dfdfdf; }
    .ec-base-table.gBorder td:first-child { border-left:0; }
    .ec-base-table.gBorder td.gClearLine { border-left:0; }
    .ec-base-table.typeList.gBorder tbody td { border-color:#eee; }
  /* align */
    .ec-base-table .left { text-align:left; }
    .ec-base-table .center { text-align:center; }
    .ec-base-table .right { text-align:right; }
    .ec-base-table.typeList .center td,
    .ec-base-table.typeList td.center { padding-left:0; padding-right:0; }
    .ec-base-table.typeList .center td.left { padding-left:10px; }
    .ec-base-table.typeList .center td.right { padding-right:10px; }
    .ec-base-table .top th, .ec-base-table th.top,
    .ec-base-table .top td, .ec-base-table td.top { vertical-align:top; }
    .ec-base-table .middle th, .ec-base-table th.middle,
    .ec-base-table .middle td, .ec-base-table td.middle { vertical-align:middle; }
  /* form */
    .ec-base-table img { vertical-align:middle; }
  /* address */
    .ec-base-table .ec-address { margin:-9px -10px -7px; }
    .ec-base-table .ec-address > li { padding:8px 10px 7px; border-top:1px solid #dfdfdf; }
    .ec-base-table .ec-address > li input[type="text"] { width:373px; }
    .ec-base-table .ec-address > li select { width:383px; }
    .ec-base-table .ec-address .ec-base-help { margin-left:0; }
    .ec-base-table .ec-address .ec-address-area select { display:block; }
    .ec-base-table .ec-address .ec-address-area select:not(:first-child) { margin-top:6px; }
    .ec-base-table .ec-address .ec-address-zipcode input[type="text"] { width:80px; margin-right:3px; }
    .ec-base-table .ec-address .ec-address-zipcode .btnBasic { margin-right:4px; }

@media print {
  .ec-base-table table:before { display:none; }
}