#popup { width:800px; }
.xans-coupon-selectnew .title { margin:20px 0 10px; }
.xans-coupon-selectnew .title h3 { color:#353535; font-size:12px; }

.xans-coupon-selectnew .ec-base-table td.thumb img { max-width:80px; }
.xans-coupon-selectnew .ec-base-table td div.option  { margin:9px 0 0; color:#707070; line-height:16px; }
.xans-coupon-selectnew .ec-base-table td div.type { margin:9px 0 0; line-height:16px; }
.xans-coupon-selectnew .ec-base-table td.select select { max-width:100%; }

.xans-coupon-selectnew .ec-base-table.total table { border:1px solid #777; }
.xans-coupon-selectnew .ec-base-table.total tfoot td .total { margin:0 0 0 15px; }
.xans-coupon-selectnew .ec-base-table.total td .box { min-height:40px; line-height:2; word-break:normal; }
.xans-coupon-selectnew .ec-base-table.total td .txt23 { font-size:23px; letter-spacing:-1px; }
.xans-coupon-selectnew .ec-base-table.total .detail td { height:auto; line-height:inherit; font-size:12px; color:#707070; }
.xans-coupon-selectnew .ec-base-table.total .detail li { margin:0 0 3px; padding:0 0 0 9px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_dash.gif") no-repeat 0 7px; }