.xans-myshop-boardlistsearch { margin:0 0 29px; padding:14px; border-top:1px solid #ececec; border-bottom:1px solid #ececec; text-align:left; }
.xans-myshop-boardlistsearch input[type="text"] { width:100%; }
.xans-myshop-boardlistsearch select { width:100%; }
