.xans-myshop-boardpackage { margin:7px 0 0; font-size:11px; }
.xans-myshop-boardpackage a { color:#757575; }

/* 탭 */
.xans-myshop-boardpackage .tab { width:100%; font-size:13px; background:#f1f1f1; }
.xans-myshop-boardpackage .tab ul { height:36px; border:1px solid #c8cdd2; border-bottom:none; font-size:0; }
.xans-myshop-boardpackage .tab ul:after { content:""; display:block; clear:both; }
.xans-myshop-boardpackage .tab li { float:left; width:50%; height:36px; text-align:center; vertical-align:middle; background:#f1f1f1; }
.xans-myshop-boardpackage .tab li.selected { background:#fff; }
.xans-myshop-boardpackage .tab li a { display:inline-block; width:100%; border-left:1px solid #c8cdd2; border-bottom:1px solid #c8cdd2; color:#333; font-size:14px; line-height:35px; }
.xans-myshop-boardpackage .tab li:first-child a { border-left:none; }
.xans-myshop-boardpackage .tab li.selected a { height:36px; border-bottom:none; color:#333; font-weight:bold; }

/* 리스트 */
.xans-myshop-boardpackage .list li { position:relative; overflow:hidden; padding:14px 0; border-bottom:1px solid #ececec; background:#fff; }
.xans-myshop-boardpackage .list .summary { position:relative; padding:0 14px; }
.xans-myshop-boardpackage .list .summary a:first-child { display:block; }
.xans-myshop-boardpackage .list .subject { display:block; padding:0 0 6px; font-size:15px; line-height:20px; color:#1b1b1b; }
.xans-myshop-boardpackage .list .subject b { font-weight:normal; color:#508bed; }
.xans-myshop-boardpackage .list .icon { display:inline-block; width:1px; margin:0 7px; color:#cdcdcd; }
.xans-myshop-boardpackage .list .date { position:relative; display:inline-block; padding:0 7px 0 8px; margin:0 0 0 7px; color:#757575; }
.xans-myshop-boardpackage .list .date:before { display:block; content:""; position:absolute; top:2px; left:0; width:1px; height:11px; background:#d6d6d6; }
