html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {margin:0; padding:0; }
body { padding:40px 20px; font:0.75em "돋움", Dotum, AppleGothic, sans-serif; color:#333; background:#fff; color:#666; overflow:auto; }
table { width:100%; border-spacing:0; border-collapse:collapse; border:0; }
th, td { padding:4px 2px; border:1px solid #999; }
caption { visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; display:none; }

.fl { float:left; }
.fr { float:right; }
.clear { clear:both; }
.tr { text-align:right; }
.tl { text-align:left; }
.displaynone { display:none; }
.xans-myshop-orderprinttax { margin:0 auto; width:700px; }
.xans-myshop-orderprinttax .box { border:1px solid green; padding:10px; margin:10px 0; }
.xans-myshop-orderprinttax p,
.xans-myshop-orderprinttax table { color:navy; font-size:12px; line-height:150%; margin:0 0 -1px; }
.xans-myshop-orderprinttax table th,
.xans-myshop-orderprinttax table td { border:1px solid navy; padding:5px; text-align:center; }
.xans-myshop-orderprinttax .provider { width:339px; float:left; *zoom:1; }
.xans-myshop-orderprinttax .provider:after { content:' '; clear:both; display:block; }
.xans-myshop-orderprinttax .provider .name { width:15px; }

.xans-myshop-orderprinttax .xans-myshop-buyer { margin-left:-1px; width:340px; }
.xans-myshop-orderprinttax .info { padding:10px; }

.xans-myshop-orderprinttaxamount td, .xans-myshop-orderprinttaxproduct td, .summary td { color:black; }

.provider p, .provider table { color:red; }
.provider table th, .provider table td { border-color:red; }
