.xans-myshop-wishlistbutton { padding:0 7px 7px; }
.xans-myshop-wishlistbutton .select { margin:0 0 14px; padding:7px 14px; border:1px solid #d5d5d5; border-top:0; }
.xans-myshop-wishlistbutton .select .gRight { float:right; }
