.xans-product-additional .gZoom { text-align:center; }
.xans-product-additional .gZoom img { margin:0; }
.xans-product-additional .gZoom .btnBasic { position:fixed; top:7px; right:7px; z-index:100; }
