.xans-product-restocksms .prdArea { display:table; width:100%; border:1px solid #ccc; box-sizing:border-box; background:#fff; }
.xans-product-restocksms .thumbnail { display:table-cell; width:74px; padding:14px 13px; text-align:center; vertical-align:top; }
.xans-product-restocksms .thumbnail img { border:1px solid #d7d5d5; box-sizing:border-box; }
.xans-product-restocksms .information { display:table-cell; padding:14px 13px 0 0; vertical-align:top; }
.xans-product-restocksms .optionWrap { margin:0 0 14px; }
.xans-product-restocksms .optionWrap .name { display:block; margin:14px 0 7px; color:#757575; }
.xans-product-restocksms .optionWrap .option select { width:100%; }
.xans-product-restocksms .optionWrap ul li { overflow:hidden; }
.xans-product-restocksms .optionWrap ul li .option { float:left; }
.xans-product-restocksms .optionWrap ul li .option .value { color:#767479; word-break:break-all; }
.xans-product-restocksms .optionWrap ul li .option .value .ec-product-value { color:#363437; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 3px 3px 0; vertical-align:top; border:1px solid #c8c8c8; border-radius:2px; background:#fff; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button li:last-child { margin-right:0; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button li a { display:block; min-width:30px; line-height:18px; text-align:center; text-decoration:none; word-break:break-all; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button li a span { display:inline-block; padding:6px 5px; box-sizing:border-box; word-break:break-all; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview li { padding:3px; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview li a { min-width:24px; width:24px; height:24px; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; vertical-align:top; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview li a span { overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/mobile/product/soldout_bg.png") repeat; background-size:28px auto; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-soldout { border-style:dashed; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#c8c8c8; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-soldout.ec-product-selected { border-style:dashed; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-disabled a span { display:inline-block; width:100%; height:100%; background:rgba(0,0,0,0.3); }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-selected { border:2px solid #495164; border-radius:2px; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-button .ec-product-selected a { margin:-1px; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-radio > li { display:inline-block; }
.xans-product-restocksms .optionWrap ul li .option .ec-product-radio .ec-product-disabled,
.xans-product-restocksms .optionWrap ul li .option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }

.xans-product-restocksms .optionBox { border-top:1px solid #ececec; margin:10px -13px -14px -100px; padding:18px 13px; }
.xans-product-restocksms .optionBox li { margin:16px 0 0; }
.xans-product-restocksms .optionBox li:first-child { margin-top:0; }
.xans-product-restocksms .smsArea { border:1px solid #ccc; margin:7px 0 0; background:#fff; }
.xans-product-restocksms .smsArea .message { padding:14px; line-height:18px; }
.xans-product-restocksms .smsArea .contact { border-top:1px solid #ececec; padding:0 14px 14px; }
.xans-product-restocksms .smsArea .contact > p { margin:14px 0 0; }
.xans-product-restocksms .smsArea input[type="text"] { width:28%; }
.xans-product-restocksms .ec-base-button { margin-bottom:0; }