
.xans-coupon-productpopup .coupon { width:216px; height:105px; margin:10px auto; font-size:12px; line-height:1.5; text-align:center; font-family:Dotum sans-serif; background-repeat:no-repeat; }
.xans-coupon-productpopup .coupon .title { display:block; padding:8px 0 0; font-size:10px; line-height:15px; text-align:center; font-weight:normal; font-family:Arial; }
.xans-coupon-productpopup .coupon .discount { font-size:18px; line-height:28px; font-weight:bold; text-align:center; letter-spacing:-1px; font-family:Dotum; text-decoration:none; }
.xans-coupon-productpopup .coupon .discount span { font-size:22px; font-family:Verdana; }
.xans-coupon-productpopup .coupon .period { font-size:11px; line-height:13px; font-weight:bold; text-align:center; font-family:Dotum; letter-spacing:-1px; }
.xans-coupon-productpopup .coupon .button { margin:5px 0 0; text-align:center; }
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .title,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .discount,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .period,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .button { display:none; }
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .detail { height:100%; }

#dCouponDetail { position:absolute; z-index:100; width:306px; margin:0 7px; border:1px solid #353535; border-radius:4px; background:#f1f1f1; }
#dCouponDetail.active { display:block; }
#dCouponDetail h4 { font-size:14px; box-sizing:border-box; padding:10px 14px; background:#353535; color:#fff; }
#dCouponDetail .couponInfo { margin:14px 7px 7px; background:#fff; border:1px solid #d5d5d5; }
#dCouponDetail .couponInfo li { padding:12px; border-top:1px solid #ededed; }
#dCouponDetail .couponInfo li:first-child { border-top:0; }
#dCouponDetail .mButton { text-align:center; padding:0 0 7px; }
#dCouponDetail .mButton a { display:inline-block; height:28px; line-height:28px; margin:0; padding:0 9px; font-size:13px; cursor:pointer; vertical-align:middle;
    font-family:Verdana,"맑은 고딕",Malgun Gothic,"돋움",Dotum; font-weight:400;
    border:0; border-radius:2px; -moz-box-sizing:border-box; box-sizing:border-box;
 }
#dCouponDetail .mButton .tSubmit1 { color: #fff; background: #4a5164; margin:0 7px 0 0; }
#dCouponDetail .mButton .tSubmit2 { color: #1b1b1b; border: 1px solid #bcbcbc; background: #fff; }
