#prdDetail img { max-width:100% !important; height:auto !important; }

.xans-product-additional .ec-base-tab .menu { margin:30px 0 11px; }.xans-product-additional .cont { padding:27px 10px 46px 9px; color:#353535; line-height:18px; }
.xans-product-additional .cont h3 { margin:0 0 20px; color:#444; font-size:12px; }

/* 상품 게시판 */
.xans-product-additional div.board { padding:27px 0 46px; color:#353535; line-height:18px; }
.xans-product-additional div.board h3 { padding:0 10px 0 9px; font-size:12px; }
.xans-product-additional div.board p.desc { padding:0 10px 0 9px; }
.xans-product-additional div.board p.nodata { margin:15px 0 0; border:1px solid #d7d5d5; font-weight:bold; color:#008bcc; line-height:39px; text-align:center; }

.xans-product-additional div.board td .view { padding:16px 19px 0; line-height:18px; text-align:left; }

#commentWriteForm_4,
#commentWriteForm_6 { padding:0 19px; }
#SecretForm_4,
#SecretForm_6 { background:#fbf9fa; }
#SecretForm_4 .view,
#SecretForm_6 .view { padding:8px 0 7px; }
#SecretForm_4 input,
#SecretForm_6 input { width:41px; height:24px; margin:0 0 0 6px; border:0; font-size:0; line-height:0; cursor:pointer; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/board/btn_ico_submit.gif") no-repeat 0 0; }
#SecretForm_4 input#secure_password,
#SecretForm_6 input#secure_password { width:130px; height:18px; margin-left:11px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; font-size:12px; line-height:14px; cursor:text; background:#fff; }
#product-review-read td,
#product-qna-read td { padding:0; }
#product-review-read td #SecretForm_4 .view { padding-left:79px; }
#product-qna-read td #SecretForm_6 .view { padding-left:213px; }

.xans-product-additional .boardComment { padding:0 19px; }
.xans-product-additional .boardComment li { position:relative; overflow:hidden; margin:10px 0 0 0; padding:12px 0 0; border-top:1px solid #d7d5d6; color:#353535; text-align:left; line-height:14px; }
.xans-product-additional .boardComment li:first-child { margin-top:0; }
.xans-product-additional .boardComment li .comment { margin:9px 0 0; padding:16px 0 15px 9px; border-top:1px solid #e9e9e9; line-height:18px; word-break:break-all; }
.xans-product-additional .boardComment li .name { margin:0 21px 0 0; }
.xans-product-additional .boardComment li .name input { width:13px; height:13px; margin:0 2px 0 0; vertical-align:-2px; *vertical-align:2px; }
.xans-product-additional .boardComment li .date { margin:0 10px 0 0; font-size:11px; }
.xans-product-additional .boardComment li .grade { margin:0 10px 0 0; }
.xans-product-additional .boardComment li .button { position:absolute; right:0; top:6px; }

.xans-product-additional .memoCont { margin:20px 15px; padding:10px 20px 15px 20px; border:1px solid #e9e9e9; color:#353535; text-align:left; background:#fbfafa; }
.xans-product-additional .memoCont .user input[type=text],
.xans-product-additional .memoCont .user input[type=password] { width:135px; margin:0 10px 0 9px; }
.xans-product-additional .memoCont .user .secret { margin:0 20px 0 10px; }
.xans-product-additional .memoCont .user .secret label { margin:0; }
.xans-product-additional .memoCont .user textarea {width:calc(100% - 90px); padding:2px 0; height:44px; text-indent:4px; *margin-right:10px; }
.xans-product-additional .memoCont .user a { float:right; }
.xans-product-additional .memoCont .nameArea { display:block; margin:0 0 10px; }
.xans-product-additional .memoCont .nameArea .ec-base-help { margin-top:10px; }
.xans-product-additional .memoCont .rating { margin:12px 0 0; }
.xans-product-additional .memoCont .rating label { padding:0 10px 0 0; }
.xans-product-additional .memoCont .rating em { font-style:normal; }
.xans-product-additional .memoCont .text { margin:5px 0 0; font-size:11px; }
.xans-product-additional .memoCont .text span { color:#008bcc; }
.xans-product-additional .memoCont .captcha { margin:8px 0 0; padding:10px 0 0; border-top:1px solid #e9e9e9; color:#757575; }
.xans-product-additional .memoCont .captcha img { vertical-align:middle; }
.xans-product-additional .memoCont .captcha input { margin:0 10px 0 20px; font-size:12px; }

.xans-product-additional table.board td .view + form .memoCont { margin-top:0; }

/* 댓글의 댓글 */
.xans-product-additional .boardComment li.replyArea { margin:-1px 0 0; padding:10px 0 7px 33px; border:1px solid #e9e9e9; background:url("//img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif") no-repeat 20px 15px; }
.xans-product-additional .boardComment li.replyArea .commentSecret { margin-right:30px; }
.xans-product-additional .boardComment li.replyArea .comment { margin:7px 0 0; padding:0; border-top:0; }

/* 권한없을시 */
.xans-product-additional .noAccess { margin:15px 0 10px; border:1px solid #d7d5d5; font-weight:bold; color:#008bcc; line-height:39px; text-align:center; }

/* 미성년자 */
.xans-product-additional .minor { margin:15px 0 0; padding:35px 0 24px; border:1px solid #d7d5d5; font-weight:bold; color:#353535; line-height:14px; text-align:center; }
.xans-product-additional .minor p:first-child img { margin:-11px 8px 0 0; vertical-align:top; }
.xans-product-additional .minor strong { color:#008bcc; }
.xans-product-additional .minor .button { margin:-7px 0 0; }

/* 비밀글 관련 */
.xans-product-additional .commentSecret { margin:10px 10px 5px 0; padding:10px 15px; border:1px solid #e9e9e9; background-color:#fbfafa; color:#353535; }