.xans-product-detail { position:relative; margin:0 auto; padding:30px 0 0 0; }
.xans-product-detail .detailArea { padding:0 0 0 540px; }
.xans-product-detail .detailArea:after { content:""; display:block; clear:both; }

/* headingArea */
.xans-product-detail .headingArea { position:relative; padding:0 0 10px; margin:0 0 15px; line-height:24px; border-bottom:1px solid #e8e8e8; }
.xans-product-detail .headingArea h2 { display:inline; font-size:14px; color:#2e2e2e; }
.xans-product-detail .headingArea .icon img { margin:0 4px 0 0; vertical-align:middle; }
.xans-product-detail .headingArea .icon .icon_img { margin:0; }
.xans-product-detail .headingArea .supply { overflow:hidden; float:right; }
.xans-product-detail .headingArea .supply span { padding:0 3px 0 0; font-size:16px; font-weight:bold; color:#555; }

/* imgArea */
.xans-product-detail .imgArea { float:left; width:546px; margin:0 0 0 -546px; }
.xans-product-detail .imgArea .keyImg { width:346px; margin:0 auto; }
.xans-product-detail .imgArea .keyImg .thumbnail { display:inline-block; position:relative; max-width:100%; }
.xans-product-detail .imgArea .keyImg .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }
.xans-product-detail .imgArea .keyImg img { max-width:344px; border:1px solid #ececec; cursor:pointer; }

.xans-product-detail .imgArea .listImg { overflow:hidden; width:346px; margin:30px auto 0; }
.xans-product-detail .imgArea .listImg ul { min-width:400px; height:77px; margin:0 0 0 2px; font-size:0; line-height:0; }
.xans-product-detail .imgArea .listImg li { display:inline-block; margin:0 1px; font-size:12px; line-height:14px; vertical-align:top; }
.xans-product-detail .imgArea .listImg li img { width:65px; height:75px; border:1px solid #ececec; cursor:pointer; }
.xans-product-detail .imgArea .listImg button { position:absolute; top:0; width:21px; height:77px; font-size:0; line-height:0; color:transparent; background:url("//img.echosting.cafe24.com/skin/base/product/btn_product_detail_ctrl.png") no-repeat; }
.xans-product-detail .imgArea .listImg .prev { left:0; background-position:0 0; }
.xans-product-detail .imgArea .listImg .next { right:0; background-position:-31px 0; }
.xans-product-detail .imgArea .control { overflow:hidden; width:346px; margin:30px auto 0; border:1px solid #d7d5d5; text-align:center; background:#fbfafa; }
.xans-product-detail .imgArea .control .btnZoom { display:block; padding:11px 0; color:#787878; font-size:12px; letter-spacing:-0.5px; text-decoration:none; }
.xans-product-detail .imgArea .control .prev { float:left; border-right:1px solid #d7d5d5; }
.xans-product-detail .imgArea .control .next { float:right; border-left:1px solid #d7d5d5; }
.xans-product-detail .imgArea .color { overflow:hidden; width:346px; margin:5px auto; }
.xans-product-detail .imgArea .chips { float:left; width:28px; height:18px; margin:0 3px 3px 0; border:1px solid #e3e3e3; font-size:0; line-height:0; }
.xans-product-detail .imgArea .xans-product-action { width:350px; margin:20px auto 0; padding-bottom:23px; }

.xans-product-detail .likeButton { display:table; margin:20px auto 10px; text-align:center; font-size:14px; }
.xans-product-detail .likeButton button { display:inline-block; padding:11px 20px; border:1px solid #b4b4b4; border-bottom-color:#969696; border-radius:2px; color:#737373; line-height:1em; text-align:right; background-color:#fff; }
.xans-product-detail .likeButton button span { display:inline-block; height:16px; line-height:18px; vertical-align:middle; font-family:Gulim, sans-serif; }
.xans-product-detail .likeButton button img { margin:0 2px 0 0; vertical-align:middle; }
.xans-product-detail .likeButton .title { padding:0 9px 0 0; margin:0 8px 0 0; min-width:0; text-align:left; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/bg_bar.gif") no-repeat 100% 3px; }
.xans-product-detail .likeButton.selected .title { color:#ef514c; }
.xans-product-detail .likeButton.selected .count { color:#353535; }

/* infoArea */
.xans-product-detail .infoArea p.delivery { padding:10px 0 20px; }
.xans-product-detail .infoArea .guideArea { overflow:hidden; margin:5px 0 0; padding:8px 11px 0; border-top:1px solid #e8e8e8; }
.xans-product-detail .infoArea .guideArea .info { float:left; color:#757575; }
.xans-product-detail .infoArea .guideArea .sizeGuide { float:right; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide.gif") no-repeat 0 3px; }
.xans-product-detail .infoArea .sizeGuide a { display:inline-block; padding:2px 15px 2px 24px; color:#353535; vertical-align:top; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide_go.gif") no-repeat 100% 6px; }
.xans-product-detail .infoArea .sizeGuide a:hover { text-decoration:none; }

.xans-product-detail .infoArea table { border:0; font-size:12px; margin:10px 0 0; }
.xans-product-detail .infoArea th { font-weight:normal; color:#353535; width:115px; padding:7px 0 8px 9px; text-align:left; vertical-align:middle; }
.xans-product-detail .infoArea td { padding:7px 6px 8px 0; vertical-align:middle; }
.xans-product-detail .infoArea img { vertical-align:middle; }
.xans-product-detail .infoArea td input[type=text] { width:80%; }
.xans-product-detail .infoArea select { width:100%; height:24px; font-size:12px; color:#353535; }
.xans-product-detail .infoArea td #delivery_cost_prepaid { margin:0 0 5px; }
.xans-product-detail .infoArea td .sale { text-decoration:line-through; }
.xans-product-detail .infoArea td .period { display:block; margin:7px 0 0; font-size:11px; color:#353535; }
.xans-product-detail .infoArea td .mileage li { line-height:1.7em; }
.xans-product-detail .infoArea td .delivery label { margin:0 30px 0 0; }
.xans-product-detail .infoArea td img.qrcode { border:1px solid #e1e1e1; }
.xans-product-detail .infoArea td #span_product_price_text { font-weight:normal; }
.xans-product-detail .infoArea td #span_product_coupon_dc_price { color:#070705; }
.xans-product-detail .infoArea td.fileInfo { color:#757575; }
.xans-product-detail .infoArea td.fileInfo input { width:288px; border:1px solid #c5c5c5; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; }
.xans-product-detail .infoArea td.fileInfo .infoDesc { margin:0 0 10px 0; }
.xans-product-detail .infoArea td.fileInfo li { margin:4px 0 0; color:#757575; font-size:11px; }
.xans-product-detail .infoArea td.fileInfo li img { vertical-align:bottom; }
.xans-product-detail .delv_price_B strong { font-weight:normal; }
.xans-product-detail .btnTooltip { display:inline-block; position:relative; z-index:10; vertical-align:middle; }

.xans-product-detail .infoArea .xans-product-option tr th { vertical-align:top; }
.xans-product-detail .infoArea .xans-product-option tr td { padding:4px 10px 4px 0; }
.xans-product-detail .infoArea .xans-product-option tr:first-child th,
.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption th { padding-top:14px; border-top:1px solid #e8e8e8; }
.xans-product-detail .infoArea .xans-product-option tr:first-child td,
.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td { padding-top:10px; border-top:1px solid #e8e8e8; }
.xans-product-detail .infoArea .xans-product-option td.selectButton { text-align:right; }

.xans-product-detail .infoArea .xans-product-addoption .txtByte { font-size:11px; vertical-align:middle; letter-spacing:-1px; }
.xans-product-detail .infoArea .xans-product-addoption .txtByte strong { color:#008bcc; }

/* 상품 옵션 */
.xans-product-detail .infoArea .xans-product-option .value { color:#767479; word-break:break-all; }
.xans-product-detail .infoArea .xans-product-option .value .ec-product-value { color:#363437; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 5px 3px 0; vertical-align:top; border:1px solid #d7d7d7; background:#fff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; *display:inline; *zoom:1; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button li:last-child { margin-right:0; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button li a { display:block; min-width:28px; text-align:center; text-decoration:none; word-break:break-all; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button li a span { display:inline-block; padding:6px 5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li { padding:3px; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a { min-width:22px; width:50px; height:50px; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a span { overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/base/product/soldout_bg.png") repeat; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout { border-style:dashed; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#d7d7d7; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout.ec-product-selected { border-style:dashed; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span { display:inline-block; width:100%; height:100%; color:#000; background:#555; filter:alpha(opacity=30); opacity:0.3; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected { border:2px solid #495164; }
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected a { margin:-1px; }
.xans-product-detail .infoArea .xans-product-option .ec-product-radio > li { display:inline-block; margin:0 0 3px; }
.xans-product-detail .infoArea .xans-product-option .ec-product-radio label { margin:0 7px 0 0; }
.xans-product-detail .infoArea .xans-product-option .ec-product-radio label input { margin:0 2px 0 0; }
.xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-disabled,
.xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }

/* xans-product-action */
.xans-product-detail .infoArea .xans-product-action { padding:30px 0 10px; border-top:1px solid #e8e8e8; }

/* eventArea */
.xans-product-detail .eventArea { color:#353535; }
.xans-product-detail .eventArea h3 { padding:0 0 0 9px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; font-size:12px; color:#008bcc; line-height:39px; }
.xans-product-detail .eventArea .event { padding:27px 10px 46px 9px; color:#353535; line-height:18px; }

/* xans-myshop-benefit */
.xans-myshop-asyncbenefit { margin:30px 0; }
.xans-myshop-asyncbenefit .member { margin:2px 0 19px; }
.xans-myshop-asyncbenefit .member em { font-style:normal; }

/* 상품 미리보기 이미지 */
#image_zoom_small { display:block; position:absolute; z-index:999; background:#fff; outline:2px solid #aaa; filter:alpha(opacity=50); opacity:0.5; }
#zoom_wrap { position:absolute; top:0; left:103%; z-index:101; display:block;}
.image_zoom_large { position:absolute; z-index:99; width:500px; height:500px; overflow:hidden; background:#fff; outline:1px solid #ececec; }
.image_zoom_large .image_zoom_large_relative { position:relative; display:block; }
.image_zoom_large .image_zoom_large_relative img#zoom_image { position:absolute; z-index:99; max-width:none; }

#NaverChk_Button { margin:10px 0 0; }

#divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; color:#777; background:#fff; border:1px solid #5B9761; }
#divNvPointInfo a { display:block; padding:5px 0 0; color:#1ec228; }
#divNvPointInfo a img { vertical-align:middle; }
#imgNaverMileageHelp { cursor:pointer; }

/* 세트상품 및 추가구성상품 */
.xans-product-detail .productSet { margin:10px 0 0; border:1px solid #d7d5d5; border-bottom:0; }
.xans-product-detail .productSet > .title { position:relative; height:40px; line-height:40px; box-sizing:border-box; border-bottom:1px solid #e9e9e9; background-color:#fbfafa; }
.xans-product-detail .productSet > .title h3 { margin:0 0 0 9px; font-size:12px; color:#353535; }
.xans-product-detail .productSet .product > li { position:relative; border-bottom:1px solid #d7d5d5; }
.xans-product-detail .productSet .thumbnail { position:absolute; top:19px; left:19px; z-index:1; width:100px; }
.xans-product-detail .productSet .thumbnail img { max-width:100%; border:1px solid #ededed; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-detail .productSet .information { position:relative; padding:19px 19px 0 135px; }
.xans-product-detail .productSet .information > p { margin:0 0 10px; }
.xans-product-detail .productSet .information .name { padding-right:60px; }
.xans-product-detail .productSet .information .price .del { font-weight:normal; }
.xans-product-detail .productSet .information .salePrice { color:#ff8a56; font-weight:bold; }
.xans-product-detail .productSet .information .btnInfo { position:absolute; top:19px; right:19px; z-index:1; display:block; width:57px; height:20px; vertical-align:middle; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info.gif") no-repeat 0 0; }
.xans-product-detail .productSet .information .btnInfo.selected { background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info_on.gif") no-repeat 0 0; }
.xans-product-detail .productSet .information .btnInfo span { overflow:hidden; font-size:0; width:0; height:0; line-height:0; text-indent:120%; }
.xans-product-detail .productSet .option { padding:10px 19px 9px 135px; }
.xans-product-detail .productSet .option > li { margin:0 0 12px; }
.xans-product-detail .productSet .option .name { display:block; margin:0 0 5px; font-weight:normal; }
.xans-product-detail .productSet .option input[type=text] { width:80%; }
.xans-product-detail .productSet .option .ec-base-qty { margin:7px 0 0; }
.xans-product-detail .productSet .option .selectButton { margin:0 0 6px; text-align:right; }
.xans-product-detail .productSet .guide { overflow:hidden; position:relative; margin:0 19px; }
.xans-product-detail .productSet .guide:after { content:""; display:block; clear:both; }
.xans-product-detail .productSet .guide .qty { float:left; display:inline-block; padding:12px 0; color:#757575; }
.xans-product-detail .productSet .guide .qty:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.xans-product-detail .productSet .guide .sizeGuide { float:right; height:15px; margin:12px 0; background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide.gif") no-repeat 0 1px; }
.xans-product-detail .productSet .guide .sizeGuide:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.xans-product-detail .productSet .guide .sizeGuide a { display:inline-block; padding:0 15px 0 24px; background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide_go.gif") no-repeat 100% center; }
.xans-product-detail .productSet.additional .title span { color:#757575; font-weight:normal; }
.xans-product-detail .productSet.additional .title .toggle { position:absolute; top:8px; right:8px; }
.xans-product-detail .productSet.hide .product { display:none; }
.xans-product-detail .productSet .ec-base-desc { padding:0 0 10px; border-top:0; border-bottom:1px solid #ddd; }
.xans-product-detail .productSet .ec-base-desc dt { width:135px; padding:0 0 0 20px; }

/* 수량 */
.ec-base-desc.quantity { margin:10px 0 0; padding:10px 0 0; border-top:1px solid #ddd; }
.ec-base-desc.quantity dt { width:125px; padding:0 0 0 8px; }

/* 총 상품 */
#totalProducts { margin:21px 0 0; }
#totalProducts table { margin:0; }
#totalProducts table .left { text-align:left; }
#totalProducts table .center { text-align:center; }
#totalProducts table .right { padding-right:9px; font-weight:bold; color:#008bcc; text-align:right; }
#totalProducts thead th { height:0; padding:0; font-size:0; line-height:0; }
#totalProducts tbody th { vertical-align:middle; }
#totalProducts tbody td { padding:9px 0; border-top:1px solid #ebebeb; color:#353535; line-height:18px; vertical-align:middle; word-wrap:break-word; word-break:break-all; }
#totalProducts tbody td p { padding:7px 10px 0 0; font-weight:bold; line-height:21px; }
#totalProducts tbody td p.product span { font-weight:normal; color:#757575; line-height:18px; }
#totalProducts tbody td p.product span.soldOut { color:#008bcc; }
#totalProducts tbody td img { vertical-align:middle; }
#totalProducts tbody td .quantity { display:inline-block; position:relative; width:50px; vertical-align:top; }
#totalProducts tbody td .quantity input { width:22px; height:23px; padding:0 2px 0 3px; line-height:23px; border:1px solid #d4d8d9; border-radius:3px 0 0 3px; }
#totalProducts tbody td .quantity .up { position:absolute; left:28px; top:0; }
#totalProducts tbody td .quantity .down { position:absolute; left:28px; top:12px; }
    #totalProducts tbody.option_products tr td .quantity input,
    #totalProducts tbody.add_products tr td .quantity input { height:19px; line-height:19px; }
    #totalProducts tbody.option_products tr td .quantity .down,
    #totalProducts tbody.add_products tr td .quantity .down { bottom:0; top:auto; }
#totalProducts tbody td .mileage { display:block; white-space:nowrap; }
#totalProducts tbody td .mileage_price { }
#totalProducts tbody tr.option td{border-top: 1px solid #ebebeb;}
#totalProducts tbody tr.option th {border-top:0;}
#totalProducts > table > tbody > tr:first-child > td{border-top: 1px solid #9a9ba0;}
#totalProducts > table > tbody > tr > td:first-child{padding-left:4px;}
#totalProducts table tr.option_product > td{padding:0}
#totalProducts table tr.option_product > td > table tr:first-child td {border-top:0;}
#totalProducts table tr.option_product > td > table tr.option > td{border-top: 1px solid #ebebeb;padding: 9px 0;}
#totalProducts table tr.option_product > td > table tr.option > td:first-child{padding:0}
#totalProducts table tr.option_product + tr.option_product > td{border-top: 1px solid #9a9ba0;}
#totalProducts > table > tbody > tr#totalProductsOption > td:first-child{border-top: 0;padding:0}
#totalProducts table tr.add_product > td { padding: 0; }
#totalProducts table tr.add_product > td > table tr.option > td:first-child { padding: 0; }
#totalProducts table tr.add_product > td > table tr:first-child td { border-top: 0; }

/* 총 상품 금액 */
.totalPrice { margin:10px 0 0; padding:34px 9px 19px; border-top:1px solid #9a9ba0; color:#353535; vertical-align:middle; background:#fff; }
.totalPrice .total { color:#008bcc; }
.totalPrice .total em { font-style:normal; font-size:21px; }

/* 배송비 차등부과 레이어 */
.differentialShipping { display:none; overflow:hidden; position:absolute; left:50%; top:17px; z-index:100; width:350px; margin:0 0 0 -176px; }
.differentialShipping h3.title { height:35px; padding:0 35px 0 19px; border:0; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.differentialShipping .content { padding:12px 18px 14px 18px; border:1px solid #757575; border-top:0; text-align:center; background:#fff; }
.differentialShipping .close { position:absolute; right:14px; top:12px; }
.differentialShipping .close img { cursor:pointer; }

.differentialShipping .content ul { color:#757575; line-height:25px; }
.differentialShipping .content li { overflow:hidden; }
.differentialShipping .content li strong { float:left; font-weight:normal; }
.differentialShipping .content li span { float:right; color:#2e2e2e; }
.differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; color:#80aeef; text-align:right; }

/* 배송비레이어 */
.xans-product-detail .shippingFee { position:relative; display:inline-block; }
.xans-product-detail .shippingFee .ec-base-tooltip { margin:0 0 0 -180px; width:360px; }
.xans-product-detail .shippingFee .ec-base-tooltip table th { width:40px; }
.xans-product-detail .shippingFee .ec-base-tooltip table th,
.xans-product-detail .shippingFee .ec-base-tooltip table td { padding:7px 10px 8px 10px; }

/* 회원등급별 할인가 적용 */
.xans-product-detail .infoArea  td > span > ul.discountMember > li { position:relative; float:left; }
.xans-product-detail .infoArea  td ul.discountMember li a { display:block; margin:0 4px 4px 0; }
.xans-product-detail .infoArea  td ul li .discount_layer h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; }
.xans-product-detail .infoArea  td ul li .discount_layer { display:block; left:-140px; min-width:300px;}
.xans-product-detail .infoArea  td ul li .discount_layer .content { overflow-x:hidden; overflow-y:auto; max-height:400px; }
.xans-product-detail .infoArea  td ul li .discount_layer thead th { padding:0; width:0; height:0; font-size:0; line-height:0; border-width:0 1px 0 1px; }
.xans-product-detail .infoArea  td ul li .discount_layer tbody th { width:auto; }

/* 세트상품 추가정보 레이어 */
.xans-product-detail .productSet .product { position:relative; }
.xans-product-detail .productSet .description { z-index:10; position:absolute; top:38px; right:0; padding:7px 0 0; }
.xans-product-detail .productSet .description .xans-product-detail { position:relative; padding:15px; border:1px solid #565960; background:#fff; }
.xans-product-detail .productSet .description > h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; background:url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%; }
.xans-product-detail .productSet .description p strong { color:#0088d4; }
.xans-product-detail .productSet .description thead th { padding:0; height:0; font-size:0; line-height:0; }
.xans-product-detail .productSet .description tbody { border:1px solid #d7d5d6; }
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description tr:first-child th,
.xans-product-detail .productSet .description tr:first-child td { background:#fbf9fa; border-right:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; color:#363636; }
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description td { height:15px; border-bottom:1px solid #e8e8e8; }
.xans-product-detail .productSet .description td,
.xans-product-detail .productSet .description tr:first-child td { padding:5px 8px; text-align:left; background:#fff; }
.xans-product-detail .productSet .description tr:last-of-type th,
.xans-product-detail .productSet .description tr:last-of-type td { border-bottom:0; }
.xans-product-detail .productSet .description .color td { font-size:0; line-height:0; }
.xans-product-detail .productSet .description .chips { display:inline-block; width:28px; height:18px; margin:0 2px 3px 0; border:1px solid #e3e3e3; }
.xans-product-detail .productSet .description .btnClose { background:transparent; }
.xans-product-detail .productSet .description > .ec-base-tooltip { display:block; top:0; }
.xans-product-detail .productSet .description > .ec-base-tooltip > .edge { z-index:20; position:absolute; left:auto; right:40px; display:block; margin:0 0 0 -5px; width:9px; height:6px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_option_arrow.gif") no-repeat 0 0; }

/* 정기배송 */
.xans-product-detail .infoArea .regularDelivery { margin:20px 0 0; border-top:1px solid #e8e8e8; }
.xans-product-detail .infoArea .regularDelivery th { vertical-align:top; }
.xans-product-detail .infoArea .regularDelivery .gLabel { position:relative; margin:0 35px 0 0; }
.xans-product-detail .infoArea .regularDelivery .badge { display:inline-block; position:relative; top:-1px; height:18px; margin:0 0 0 5px; padding:0 8px; border-radius:10px; line-height:18px; font-size:12px; font-family:"돋움","Dotum"; color:#fff; background-color:#009ffa; }
.xans-product-detail .infoArea .regularDelivery .badge .icoDown { display:inline-block; position:relative; top:1px; overflow:hidden; width:8px; height:12px; border-radius:50%; line-height:10px; text-indent:-9999px; }
.xans-product-detail .infoArea .regularDelivery .badge .icoDown:before { content:""; display:inline-block; position:absolute; top:3px; left:2px; width:4px; height:4px; background-color:#fff; }
.xans-product-detail .infoArea .regularDelivery .badge .icoDown:after { content:""; display:inline-block; position:absolute; bottom:1px; left:0; width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #fff; }
.xans-product-detail .infoArea .regularDelivery .info { margin:14px 0 0; }
.xans-product-detail .infoArea .regularDelivery .info ul { margin:6px 0 0; }
.xans-product-detail .infoArea .regularDelivery .info ul > li { margin:4px 0; letter-spacing:-.8px; }
.xans-product-detail .infoArea .regularDelivery .info .icoSave { display:inline-block; height:12px; padding:0 2px; border:1px solid #ff5454; border-radius:3px; line-height:12px; color:#ff5454; }
.xans-product-detail .infoArea .regularDelivery .info .icoDown { display:inline-block; position:relative; overflow:hidden; width:5px; height:10px; margin:0 0 0 2px; line-height:10px; text-indent:-9999px; }
.xans-product-detail .infoArea .regularDelivery .info .icoDown:before { content:""; display:inline-block; position:absolute; top:0; left:2px; width:1px; height:10px; background-color:#ff5454; }
.xans-product-detail .infoArea .regularDelivery .info .icoDown:after { content:""; display:inline-block; position:absolute; bottom:2px; left:-2px; padding:4px; border:solid #ff5454; border-width:0 1px 1px 0; transform:rotate(45deg); -webkit-transform:rotate(45deg); }

/* App payment button box */
#appPaymentButtonBox { max-width:600px; margin:10px auto 0; }
#appPaymentButtonBox > div { margin:0 0 5px 0; }
#appPaymentButtonBox > div:last-of-type { margin-bottom:0; }
