.xans-product-menupackage { margin:60px 0 0; }
.xans-product-menupackage .title { min-height:30px; margin: 0 0 10px; }
.xans-product-menupackage .title .banner { margin:0 0 20px; }
.xans-product-menupackage .title h2 { color:#000000; font-family: NanumSquare, sans-serif; font-size: 40px; font-weight: bold; }
/*
.xans-product-menupackage .title h2,
.xans-product-menupackage .title .likeButton { display:inline-block; vertical-align:middle; }
.xans-product-menupackage .title .likeButton button { margin:0 0 0 10px; padding:0 0 0 20px; height:16px; font-family:verdana; color:#9a9a9a; letter-spacing:-1px; background:none; }
.xans-product-menupackage .title .likeButton.selected button { color:#353535; }
 */

.xans-product-menupackage .menuCategory { margin-top: 30px; padding: 2px; font-size: 0; line-height:0; background: #e0e0e0 }
.xans-product-menupackage .menuCategory > li { position: relative; display:inline-block; width: 186px; height: 38px; box-shadow: 0 0 0 1px #e0e0e0 inset; vertical-align:top; background: #ffffff }
.xans-product-menupackage .menuCategory > li > a { position: absolute; top: 50%; left: 15px; transform: translateY(-50%); font-family: NanumSquare, sans-serif; font-size: 17px; line-height: 19px; font-weight: normal; color:#505050; }
.xans-product-menupackage .menuCategory > li > a:hover { /* color:#008bcc; text-decoration:none; background-position:100% -95px */ }
.xans-product-menupackage .menuCategory > li.selected > a { font-weight: bold; }
.xans-product-menupackage .menuCategory > li .count { font-weight:normal; }
.xans-product-menupackage .menuCategory > li > ul {  }
.xans-product-menupackage .menuCategory > li > ul > li { position: relative; display: block; top: 38px; width: 186px; height: 38px; margin: 0; line-height:14px; box-shadow: 0 0 0 1px #e0e0e0 inset; vertical-align:top; background: #ffffff}
.xans-product-menupackage .menuCategory > li > ul > li > a { position: absolute; top: 50%; left: 20px; transform: translateY(-50%); font-family: NanumSquare, sans-serif; font-size: 17px; line-height: 19px; font-weight: normal; color:#505050; }
.xans-product-menupackage .menuCategory > li > ul > li > a:hover,
.xans-product-menupackage .menuCategory > li > ul > li.selected > a { color:#008bcc; }
.xans-product-menupackage .menuCategory > li > ul > li > .button { display:inline-block; position:relative; width:9px; height:14px; margin:1px 0 0 3px; vertical-align:top; }

.xans-product-menupackage .subCategory { display:none; position:absolute; left:50%; top:13px; z-index:11; width:300px; margin:0 0 0 -151px; padding:6px 0; border:1px solid #565960; font-size: 0; line-height:0; background:#fff url("//img.echosting.cafe24.com/skin/base_ko_KR/product/bg_sub_category_line.gif") repeat-y 150px 0; }
.xans-product-menupackage .subCategory li { display:inline-block; width:130px; margin:8px 0 8px 18px; font-family: "Nanum Gothic", sans-serif; font-size:12px; line-height:14px; vertical-align:top; }
.xans-product-menupackage .subCategory li a { color:#575a63; }
.xans-product-menupackage .subCategory li a:hover,
.xans-product-menupackage .subCategory li.selected a { color:#008bcc; }
.xans-product-menupackage .menuCategory .button.selected { z-index:11; }
.xans-product-menupackage .menuCategory .button.selected .subCategory { display:block; }

.path { position: relative; }
.path ol { position: absolute; left: 0; margin-left: -20px; }
.path ol li { font-family: NanumSquare, sans-serif; font-size: 17px; font-weight: bold; }
.path a { color: #000000; }