.xans-project-package .title h2 { padding:11px 0 12px 20px; border:1px solid #d7d5d5; border-bottom:1px solid #edeeef; font-size:12px; color:#353535; }
.xans-project-package .banner { margin:0 0 20px; }

.xans-project-package .menuCategory { margin:0 0 27px; border:1px solid #d7d5d5; border-top:0; font-size:0; line-height:0; }
.xans-project-package .menuCategory > li { display:inline-block; width:175px; margin:12px 0 12px 20px; padding:0 5px 0 0; font-size:12px; line-height:14px; vertical-align:top; *display:inline; *zoom:1; }
.xans-project-package .menuCategory > li > a { padding:0 13px 0 0;font-weight:bold; color:#353535; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_menu_category.gif") no-repeat 100% 5px; }
.xans-project-package .menuCategory > li > a:hover { color:#008bcc; text-decoration:none; background-position:100% -95px }
.xans-project-package .menuCategory > li .count { font-weight:normal; }

.xans-project-list h3 { margin:0 0 16px; font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }