#popup div.wrap { background:#f1f1f1; }
.xans-mall-privacy #privacyTerms { display:block; min-height:500px; height:auto; padding:7px; border:1px solid #ccc; border-radius:2px; color:#353535; font-size:12px; background:#fff; }
