#contents { padding:0 0 29px; }
.xans-mall-privacy .agreeBox { margin:14px 7px 0; line-height:1.5; border:1px solid #ccc; background:#fff; }
.xans-mall-privacy .date { padding:8px 14px; border-bottom:1px solid #ccc; }
.xans-mall-privacy .agree { padding:14px; color:#777; font-size:11px; }
.xans-mall-privacy .agree table { table-layout:auto; }
.xans-mall-privacy .btnPrev {
    display:block; margin:7px 7px 0; padding:5px 3px; border:1px solid #bcbcbc; text-align:center; font-size:12px; color:#1b1b1b; background:#fff;
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}