.xans-member-login.ec-base-box.typeThin { margin:0 0 20px; padding:0; }
.xans-member-login .login { padding:49px 39px; color:#2e2e2e; }
.xans-member-login .login fieldset { position:relative; width:370px; margin:0 auto; padding:0 0 0 9px; }
.xans-member-login .login fieldset .id,
.xans-member-login .login fieldset .password { overflow:hidden; display:block; width:251px; margin:0 0 8px; border:1px solid #d9d9d9; border-radius:2px; color:#8F8F91; }
.xans-member-login .login fieldset .id span,
.xans-member-login .login fieldset .password span { height:32px; line-height:32px; padding:0 0 0 8px; color:#c9c9c9; }
.xans-member-login .login fieldset input[type=text],
.xans-member-login .login fieldset input[type=password] { width:95%; height:28px; line-height:28px; padding:2px 2px 2px 7px; border:0 none; color:#8F8F91; }
.xans-member-login .login fieldset .security { padding:0 0 0 5px; margin:10px 0; color:#757575; }
.xans-member-login .login fieldset .security img { vertical-align:middle; }
.xans-member-login .login fieldset > a { position:absolute; top:0; right:9px; }
.xans-member-login .login fieldset ul { overflow:hidden; padding:20px 55px 5px; margin:0; border:0; }
.xans-member-login .login fieldset li { float:left; padding:0 9px 0 13px; }
.xans-member-login .login fieldset li:after { position:relative; top:2px; right:-10px; content:""; display:inline-block; width:1px; height:11px; border-right:1px solid #d9d9d9; }
.xans-member-login .login fieldset li:last-child:after { border:none; }
.xans-member-login .login fieldset li a { color:#2e2e2e; }
.xans-member-login .login fieldset .link { position:relative; margin:25px 9px 0 0; padding:25px 0 0 0; color:#757575; border-top:1px solid #e9e9e9; }
.xans-member-login .login fieldset .link a { position:absolute; top:25px; right:0; }
.xans-member-login .login fieldset .snsArea { padding:0 0 30px; border-bottom:1px solid #e9e9e9; }
.xans-member-login .login fieldset .snsArea li { margin:7px 9px 0 0; padding:0; background:none; }
.xans-member-login .login fieldset .snsArea li:after { content:none; }
.xans-member-login .login fieldset #noMemberWrap { border-top:0; margin-top:0; }

.xans-member-login .btnLogin { height:76px; line-height:76px; }
