/* 카카오싱크 로그인 연동 */
.kakao_login { border:1px solid #d7d5d5; font-family:굴림; text-align:center; }
.kakao_login .inner { width:401px; margin:0 auto; padding:0 0 10px; }
.kakao_login .summary { margin:0; padding:28px 0 18px; color:#353535; font-size:12px; line-height:15px; font-weight:bold; letter-spacing:-0.4px; }
.kakao_login .selectBox { overflow-y:auto; height:238px; margin:0 -12px 20px; padding:8px 5px 5px 10px; border:1px solid #d5d5d5; box-sizing:border-box; text-align:left; }
.kakao_login .selectBox ul { margin:0; padding:0; }
.kakao_login .selectBox li { padding:2px 0; color:#353535; font-size:12px; line-height:18px; list-style:none; word-break:break-word; }
.kakao_login .selectBox li .label { position:relative; display:block; padding:0 0 0 18px; }
.kakao_login .selectBox li .label .radio { position:absolute; top:3px; left:0; }
.kakao_login .item { margin:0 12px 30px; border-top:1px solid #e9e9e9; }
.kakao_login .item:first-child { border-top:0; }
.kakao_login .button [class^="btn"] { overflow:hidden; display:block; text-align:center; padding:0 10px; font-size:14px; font-family:굴림; font-weight:bold; line-height:50px; vertical-align:middle; text-decoration:none; white-space:nowrap; border-radius:2px; box-sizing:border-box; cursor:pointer; }
.kakao_login .button .btnKakaoSubmit { color:#fff; background-color:#4a5164; }
.kakao_login .button .btnKakaoJoin { color:#333; background-color:#ffe500; }