@charset "euc-kr";

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; background:#f6f8fa; }
body,code { font-size:12px; font-family:"Apple SD Gothic Neo", "맑은 고딕", "malgun gothic",sans-serif; color:#000; -webkit-text-size-adjust:none; }
body { max-width:900px; min-height:100%; margin:0 auto; background: #fff;}
ul,ol,dl,li { list-style:none; }
img,fieldset { border:0; vertical-align:top; }
table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table img { vertical-align:middle; }
th,td { border:0; word-wrap:break-word; }
input,select,textarea { font-size:12px; font-family:"Apple SD Gothic Neo", "맑은 고딕", "malgun gothic",sans-serif; color:#333; vertical-align:middle; }
label { cursor:pointer; }
caption { overflow:hidden; width:1px; font-size:1px; line-height:0; text-indent:150%; white-space:nowrap; }
legend,.blind { display:block; overflow:hidden; position:absolute; font-size:1px; line-height:0; color:transparent; text-indent:-150%; white-space:nowrap; }
hr.layout { display:none; }
button { overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; background:transparent; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline; }


/* html5 */
object,del,sub,var { margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section { display:block; }

img { max-width:100%; }

input, textarea, select { max-width:100%; font-size:13px; color:#000; vertical-align:middle; outline:0; border-radius:0; }

input[type=text], input[type=password], input[type=number], input[type=tel], textarea { padding:10px; font-size:13px; line-height:13px; font-weight:inherit; color:#353535; border:1px solid #dedfe2; }
input[type=text], input[type=password], input[type=number], input[type=tel] { height:36px; }
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=tel]:focus { border-color:#000; color:#000; }

input[type=text] { height:36px; padding:10px; font-size:13px; line-height:13px; font-weight:inherit; color:#353535; border:1px solid #dedfe2; border-radius:0; outline-style:none; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-appearance:none; }

input[type="file"] { overflow:hidden; max-width:100%; }
input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="image"], textarea { -webkit-appearance:none; }

select { max-width:100%; height:36px; margin:0; padding:0 20px 0 12px; font-size:13px; line-height:36px; color:#000; word-break:break-all; font-weight:inherit; background:#fff url('//img.echosting.cafe24.com/skin/dnd_ko_KR/common/layout/form/bg_select.gif') no-repeat 100% 0; background-size:20px auto; }
select:focus { border-color:#000; }
select.disabled, select:disabled,
textarea.disabled, textarea:disabled { color:#bcbcbc; }

textarea { resize:none; line-height:1.2em; }
textarea.disabled { background-color:#fff; color:#bfbfbf; }

select { max-width:100%; height:36px; margin:0; padding:0 20px 0 12px; border:1px solid #dedfe2; border-radius:0; font-size:13px; line-height:36px; color:#000; word-break:break-all; font-weight:inherit; -webkit-appearance:none; cursor:pointer; background:#fff url('//img.echosting.cafe24.com/skin/dnd_ko_KR/common/layout/form/bg_select.gif') no-repeat 100% 0; background-size:20px auto; }
select:focus { border-color:#000; }
select.disabled, select:disabled { color:#bcbcbc; }


.dimmed { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:150; background:rgba(0, 0, 0, .4); }
.dimmed.show { display:block; }

.btnTooltip { display:inline-block; vertical-align:top; margin: 0 0 0 3px; position: relative; }
.btnTooltip:first-child { margin:0; }

/*
    EC-SOLUTION RELATION STYLE SHEET
 */
body.eMobilePopup {
    overflow: hidden;
    position: fixed;
}

.ec-base-label {
    display: inline-block;
    margin-right: 5px;
}

.ec-base-label img {
    vertical-align: middle;
}

.ec-solution-box {
    padding: 20px;
    border: 5px solid #e8e8e8;
    color: #404040;
}

.ec-solution-box.gHalf {
    position: relative;
    padding: 20px 0;
}

.ec-solution-box.gHalf:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e6e6e6;
}

.ec-solution-box.typeBg {
    background-color: #fbfafa;
}

.ec-solution-box.typeThin {
    border-width: 1px;
    border-color: #d7d5d5;
}

.ec-solution-box.typeThinBg {
    border-width: 1px;
    border-color: #d7d5d5;
    background-color: #fbfafa;
}

.ec-solution-box.typeThinBg > .agree {
    padding: 20px;
    border: 1px solid #e6e6e6;
    background: #fff;
}

.ec-solution-box.typeThinBg > .agree p {
    padding: 0 0 17px;
}

.ec-solution-box.typeMember {
    padding: 0;
}

.ec-solution-box.typeMember .information {
    display: table;
    table-layout: fixed;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.ec-solution-box.typeMember .information > .title,.ec-solution-box.typeMember .information > .thumbnail {
    display: table-cell;
    padding: 0 15px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

.ec-solution-box.typeMember .information > .title {
    vertical-align: middle;
}

.ec-solution-box.typeMember .information > .thumbnail img {
    max-width: 70px;
}

.ec-solution-box.typeMember .information .description {
    display: table-cell;
    padding: 0 10px;
    width: auto;
    line-height: 1.5em;
    border-left: 1px solid #e8e8e8;
    vertical-align: middle;
}

.ec-solution-box.typeMember.gMessage {
    border-width: 1px;
    border-color: #d7d5d5;
}

.ec-solution-box .message {
    display: block;
    padding: 10px 0 10px 35px;
    border-bottom: 1px solid #e8e7e7;
    background: #fbfbfb url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 10px center;
}

.ec-solution-box.typeProduct {
    display: table;
    table-layout: fixed;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}

.ec-solution-box.typeProduct .thumbnail,.ec-solution-box.typeProduct .information {
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
}

.ec-solution-box.typeProduct .thumbnail {
    width: 100px;
}

.ec-solution-box.typeProduct .thumbnail img {
    max-width: 90px;
    border: 1px solid #d7d5d5;
}

.ec-solution-box.typeProduct .information {
    padding-left: 0;
}

.ec-solution-button {
    padding: 10px 0;
    text-align: center;
}

.ec-solution-button.justify {
    position: relative;
}

.ec-solution-button:after {
    display: block;
    content: "";
    clear: both;
}

.ec-solution-button .gLeft {
    float: left;
    text-align: left;
}

.ec-solution-button .gRight {
    float: right;
    text-align: right;
}

.ec-solution-button.justify .gLeft {
    position: absolute;
    left: 0;
}

.ec-solution-button.justify .gRight {
    position: absolute;
    right: 0;
}

.ec-solution-button .text {
    margin: 0 6px 0 10px;
    color: #353535;
    line-height: 24px;
}

.ec-solution-button.typeBorder {
    margin-top: -1px;
    padding: 10px 20px;
    border: 1px solid #d7d5d5;
}

.ec-solution-button.typeBG {
    padding: 10px 20px;
    border: 1px solid #d7d5d5;
    background: #fbfafa;
}

.ec-solution-layer li {
    list-style: none;
}

.ec-solution-layer table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.ec-solution-layer caption {
    display: none;
}

.ec-solution-layer h1,.ec-solution-layer h3 {
    margin: 0;
}

.ec-solution-layer {
    position: absolute;
    z-index: 100;
    border: 1px solid #757575;
    background: #fff;
}

.ec-solution-layer .header {
    padding: 7px 35px 7px 19px;
    color: #fff;
    background: #495164;
}

.ec-solution-layer .header > h1,.ec-solution-layer .header > h3 {
    font-size: 14px;
    line-height: 1.5;
}

.ec-solution-layer .content {
    padding: 20px;
    font-size: 12px;
}

.ec-solution-layer div.ec-solution-help {
    margin-top: 0;
}

.ec-solution-layer .ec-solution-button {
    padding: 9px;
    border-top: 1px solid #d7d5d5;
    text-align: center;
    background: #fbfafa;
}

.ec-solution-layer .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 20px;
    cursor: pointer;
}

#popup .ec-solution-layer {
    position: relative;
    border: 0;
}

#popup .ec-solution-layer .header {
    padding: 12px 35px 12px 19px;
}

#popup .ec-solution-layer .close {
    top: 5px;
}

.ec-solution-layer .content > .ec-solution-table table:first-child {
    margin-top: 0;
}

.ec-solution-layer .ec-solution-table table {
    line-height: 1.4;
}

.ec-solution-layer .ec-solution-table thead th {
    padding: 9px 0 8px;
}

.ec-solution-layer .ec-solution-table tbody th {
    padding: 9px 0 8px 10px;
}

.ec-solution-layer .ec-solution-table td {
    padding: 9px 10px 8px;
}

.ec-solution-layer .ec-solution-table.typeWrite td {
    padding: 5px 10px 4px;
}

.ec-solution-layer .ec-solution-table.typeList tfoot td {
    padding: 10px 10px 12px;
}

.ec-solution-layer .ec-solution-table.typeBorder tfoot td {
    padding: 10px 10px 12px;
}

.ec-solution-table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #d7d5d5;
    border-top-color: #fff;
    color: #fff;
    line-height: 1.5;
}

.ec-solution-table.gLayoutFixed table {
    table-layout: fixed;
}

.ec-solution-table.gLayoutFixed .gLayoutAuto table {
    table-layout: auto;
}

.ec-solution-table table:before {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #d7d5d5;
}

.ec-solution-table thead th {
    padding: 11px 0 10px;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    background: #fbfafa;
}

.ec-solution-table tbody th {
    padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
}

.ec-solution-table th:first-child {
    border-left: 0;
}

.ec-solution-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
}

.ec-solution-table td.clear {
    padding: 0 !important;
    border: 0 !important;
}

.ec-solution-table.typeWrite td {
    padding: 8px 10px 7px;
}

.ec-solution-table.typeList table {
    border-top-color: #d7d5d5;
}

.ec-solution-table.typeList table:before {
    display: none;
}

.ec-solution-table.typeList td {
    padding: 8px 10px 7px;
}

.ec-solution-table.typeList tfoot td {
    padding: 15px 10px 17px;
    background: #fbfafa;
}

.ec-solution-table .message {
    border: 1px solid #d7d5d5;
    padding: 50px 0;
    text-align: center;
    color: #757575;
    font-weight: bold;
}

.ec-solution-table table + .message {
    margin: -1px 0 0;
}

.ec-solution-table table td.message {
    padding: 50px 0;
}

.ec-solution-table .scroll .message {
    border: 0;
}

.ec-solution-table.typeList .head td {
    padding: 11px 0 10px;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    text-align: center;
    background: #fbfafa;
}

.ec-solution-table.typeList .head td:first-child {
    border-left: 0;
}

.ec-solution-table.typeList .scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 185px;
    min-height: 100px;
    border: 1px solid #d7d5d5;
    border-top-width: 0;
    margin-top: -1px;
}

.ec-solution-table.typeList .scroll table {
    border: 0;
    margin: 0;
}

.ec-solution-table.typeList .scroll table:before {
    display: none;
}

.ec-solution-table.typeList .scroll .message {
    border: 0;
}

.ec-solution-table thead.blind,.ec-solution-table thead.blind th {
    display: none;
}

.ec-solution-table thead.blind + tbody tr:first-child th,.ec-solution-table thead.blind + tbody tr:first-child td {
    border-top-width: 0;
}

.ec-solution-table.typeList.gLine table {
    border-width: 0;
    border-bottom-width: 1px;
}

.ec-solution-table.typeClear table:before {
    display: none;
}

.ec-solution-table.typeClear table,.ec-solution-table.typeClear th,.ec-solution-table.typeClear td {
    border: 0 none;
    background: none;
}

.ec-solution-table.typeClear th {
    font-weight: bold;
}

.ec-solution-table.gBorder td {
    border-left: 1px solid #dfdfdf;
}

.ec-solution-table.gBorder td:first-child {
    border-left: 0;
}

.ec-solution-table .left {
    text-align: left;
}

.ec-solution-table .center {
    text-align: center;
}

.ec-solution-table .right {
    text-align: right;
}

.ec-solution-table.typeList .center td,.ec-solution-table.typeList td.center {
    padding-left: 0;
    padding-right: 0;
}

.ec-solution-table.typeList .center td.left {
    padding-left: 10px;
}

.ec-solution-table.typeList .center td.right {
    padding-right: 10px;
}

.ec-solution-table .top th,.ec-solution-table th.top,.ec-solution-table .top td,.ec-solution-table td.top {
    vertical-align: top;
}

.ec-solution-table .middle th,.ec-solution-table th.middle,.ec-solution-table .middle td,.ec-solution-table td.middle {
    vertical-align: middle;
}

.ec-solution-table img {
    vertical-align: middle;
}

@media print {
    .ec-solution-table table:before {
        display: none;
    }
}

.xans-popup-multipopup .paginate {
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    background: transparent;
}

.ec-multi-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    height: 0px;
}

.ec-multi-popup .ec-multi-popup-inner {
    position: absolute;
    right: 7px;
    border: 1px solid #9d9db0;
}

.ec-multi-popup .ec-multi-popup-inner .ec-multi-popup-visual {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.ec-multi-popup .ec-multi-popup-inner ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    display: table;
    table-layout: fixed;
}

.ec-multi-popup .ec-multi-popup-inner ul img {
    width: 100%;
}

.ec-multi-popup .ec-multi-popup-inner .ec-multi-popup-option {
    padding: 5px;
    color: #fff;
    background-color: #434447;
    text-align: right;
}

.ec-multi-popup .ec-multi-popup-inner .ec-multi-popup-option label {
    font-size: 12px;
}

.ec-multi-popup .ec-multi-popup-inner .ec-multi-popup-option button {
    padding: 0 12px 0 4px;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: url("//img.echosting.cafe24.com/skin/mobile/layout/btn_close_notice.png") no-repeat right 6px;
    background-size: 10px 9px;
}

.ec-multi-popup.ec-multi-popup-swipe .ec-multi-popup-inner ul {
    display: table;
    table-layout: fixed;
}

.ec-multi-popup.ec-multi-popup-swipe .ec-multi-popup-inner ul li {
    display: table-cell;
}

.ec-multi-popup-full {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: initial;
}

.ec-multi-popup-full .ec-multi-popup-visual {
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
    background: #000;
}

.ec-multi-popup-full .ec-multi-popup-visual ul {
    display: table-cell;
    vertical-align: middle;
}

.ec-multi-popup-full .ec-multi-popup-visual li {
    display: block;
    width: 100%;
    text-align: center;
}

.ec-multi-popup-full .ec-multi-popup-visual li img {
    max-width: 100%;
    max-height: 100%;
}

.ec-multi-popup-full .ec-multi-popup-option {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-right: 150px;
    background-color: #434447;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ec-multi-popup-full .ec-multi-popup-option.en {
    padding-right: 93px;
}

.ec-multi-popup-full .ec-multi-popup-option.en .close {
    width: 93px;
}

.ec-multi-popup-full .ec-multi-popup-option.cn {
    padding-right: 150px;
}

.ec-multi-popup-full .ec-multi-popup-option.cn .close {
    width: 150px;
}

.ec-multi-popup-full .ec-multi-popup-option.jp {
    padding-right: 150px;
}

.ec-multi-popup-full .ec-multi-popup-option.jp .close {
    width: 150px;
}

.ec-multi-popup-full .ec-multi-popup-option button {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #fff;
    border: 0;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ec-multi-popup-full .ec-multi-popup-option .today {
    margin-top: -1px;
}

.ec-multi-popup-full .option1 .ec-multi-popup-option .today {
    text-align: center;
}

.ec-multi-popup-full .ec-multi-popup-option .today,.ec-multi-popup-full .ec-multi-popup-option .date,.ec-multi-popup-full .ec-multi-popup-option .no {
    text-align: left;
    height: 26px;
    padding-left: 10px;
    border-right: 1px solid #333437;
    border-top: 1px solid #5b5c60;
    border-bottom: 1px solid #333437;
}

.ec-multi-popup-full .ec-multi-popup-option .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 100%;
    text-align: center;
    border-left: 1px solid #5b5c60;
}

.ec-multi-popup-full button {
    padding: 0;
}

.ec-multi-popup-full button::-moz-focus-inner {
    padding: 0;
}

.ec-multi-popup-full.option1 .paginate {
    bottom: 35px;
}

.ec-multi-popup-full.option2 .paginate {
    bottom: 60px;
}

.ec-multi-popup-full.option3 .paginate {
    bottom: 85px;
}

.ec-multi-popup-full.ec-multi-popup-swipe {
    overflow: hidden;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual ul {
    position: relative;
    display: block;
    height: 100%;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual ul li {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual li a {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual li span {
    display: table-cell;
    vertical-align: middle;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-visual ul li img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.ec-multi-popup-full.ec-multi-popup-swipe .ec-multi-popup-option {
    position: absolute;
    left: 0;
    bottom: 0;
}

.ec-multi-banner {
    position: relative;
    background: #fff;
}

.ec-multi-banner .ec-multi-banner-visual a {
    display: block;
    width: 100%;
    text-align: center;
}

.ec-multi-banner .ec-multi-banner-visual a img {
    width: 100%;
}

.ec-multi-banner .paginate {
    display: none;
    position: absolute;
    right: 7px;
    bottom: 7px;
    background: transparent;
}

.ec-multi-banner.ec-multi-banner-swipe .paginate {
    display: block;
}

.ec-multi-banner.ec-multi-banner-swipe {
    overflow: hidden;
}

.ec-multi-banner.ec-multi-banner-swipe .ec-multi-banner-visual {
    display: table;
    table-layout: fixed;
}

.ec-multi-banner.ec-multi-banner-swipe .ec-multi-banner-visual li {
    display: table-cell;
}
