<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-layer.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-fold.css)-->
    <!--@css(/layout/basic/css/ec-base-prdInfo.css)-->

    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/common.js)-->
</head>
<body id="main">
    <div module="Popup_MultiPopup">
        <!--
            $banner_popup_no =
            ※ 노출시킬 팝업의 ID를 숫자로 넣어주세요.
        -->
        {$popup}
    </div>
    <div module="Popup_MultiBanner">
        <!--
            $banner_popup_no =
            ※ 노출시킬 배너의 ID를 숫자로 넣어주세요.
        -->
        {$banner}
    </div>
    <div id="wrap">
        <!--@import(/layout/basic/sidebar.html)-->
        <hr class="layout">
        <div id="container">
            <header id="header">
                <div class="header">
                    <h1 module="Layout_LogoTop"><a href="/">{$mobile_title}</a></h1>
                    <section id="topArea">
                        <div class="searchWrap">
                            <p class="category"><a href="#none" class="fold">카테고리</a></p>
                            <div module="Layout_SearchHeader">
                                <!--@css(/css/module/layout/searchHeader.css)-->
                                <div class="searchForm">
                                    {$form.keyword}
                                    <button type="button" class="btnDelete">삭제</button>
                                    <div class="autoList" id="{$searchdata_auto_list_id}">
                                        <ul class="autoDrop" id="{$search_auto_id}"></ul>
                                    </div>
                                </div>
                            </div>
                            <p module="Layout_orderBasketcount">
                                <a href="/order/basket.html" class="btnBasket">장바구니<span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
                            </p>
                        </div>
                        <!--@import(/layout/basic/navigation.html)-->
                        <nav id="mainMenu" module="Layout_MobileMaincategory">
                            <!--
                                $swipe = yes
                                $plugin = category
                                $generate = no
                                $gird = 3
                                $display = no
                            -->
                            <ul>
                                <li>
                                    <ul>
                                        <li module="Mobile_Categoryname_1" data-seq="{$display_group}"><a href="#none">{$category_name}</a></li>
                                        <li module="Mobile_Categoryname_2" data-seq="{$display_group}"><a href="#none">{$category_name}</a></li>
                                        <li module="Mobile_Categoryname_3" data-seq="{$display_group}"><a href="#none">{$category_name}</a></li>
                                    </ul>
                                </li>
                                <li class="afterNone">
                                    <ul>
                                        <li module="Mobile_Categoryname_4" data-seq="{$display_group}"><a href="#none">{$category_name}</a></li>
                                    </ul>
                                </li>
                             </ul>
                            <p class="btnPrev"><a href="#none"><img src="//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_prev.png" width="8" height="13" alt="이전"></a></p>
                            <p class="btnNext"><a href="#none"><img src="//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_next.png" width="8" height="13" alt="다음"></a></p>
                        </nav>
                    </section>
                </div>
            </header>
            <hr class="layout">
            <div id="contents">
                <!--@contents-->
            </div>
            <hr class="layout">
            <!--@import(/layout/basic/footer.html)-->
        </div>
    </div>
</body>
</html>
