.xans-mall-supplysearch { padding:7px 60px 7px 7px; position:relative; }
.xans-mall-supplysearch .btnStrong { position:absolute; right:7px; }
.xans-mall-supplysearch #searchSupply { box-sizing:border-box; width:100%; margin-right:-60px; }