.xans-layout-logotop { width:800px; margin:0 auto; text-align:center; }
.xans-layout-logotop a { font-family:verdana, '맑은 고딕', malgungothic, sans-serif; font-size:40px; color:#008bcc; font-weight:bold; text-decoration:none; font-style:normal; }
.xans-layout-logotop img { max-width:800px; max-height:112px; }