.ec-base-product { margin:22px 0 0; }
.ec-base-product .title { margin:0 0 17px; }
.ec-base-product .title h2 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product .title h3 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product img { vertical-align:middle; }
.ec-base-product a[href^='/product/detail.html'] > img { border:1px solid #ececec; }

.ec-base-product .prdList { width:100%; min-width:756px; margin:-20px 0 0; font-size:0; line-height:0; }
.ec-base-product .prdList > li { position:relative; display:inline-block; margin:30px 0 20px; color:#757575; vertical-align:top; }

.ec-base-product .prdList .chk { position:absolute; top:-10px; left:0; right:0; display:block; margin:0 0 10px; }
.ec-base-product .prdList .thumbnail { position:relative; margin:10px 7px; text-align:center; }
.ec-base-product .prdList .thumbnail .prdImg { position:relative; }
.ec-base-product .prdList .thumbnail a img { max-width:100%; box-sizing:border-box; }
.ec-base-product .prdList .thumbnail .wish { position:absolute; right:3px; bottom:4px; z-index:1; cursor:pointer; }
.ec-base-product .prdList .thumbnail .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }
.ec-base-product .prdList .thumbnail .icon { margin:10px 0 0; border-bottom:1px solid #e8e8e8; vertical-align:middle; }
.ec-base-product .prdList .thumbnail .icon:after { content:""; display:block; clear:both; }
.ec-base-product .prdList .thumbnail .promotion { float:left; margin:0 0 4px; text-align:left; }
.ec-base-product .prdList .thumbnail .promotion img { margin:0 4px 0 0; }
.ec-base-product .prdList .thumbnail .button { float:right; margin:0 0 4px; }
.ec-base-product .prdList .thumbnail .button img { margin:0 2px 0 0; cursor:pointer; }
.ec-base-product .prdList .thumbnail .button .option { display:inline; position:relative; }
.ec-base-product .prdList .thumbnail .button .likeButton { display:inline-block; margin:0 5px; }
.ec-base-product .prdList .thumbnail .button .likeButton button { font-family:verdana; color:#9a9a9a; letter-spacing:-1px; background:none; }
.ec-base-product .prdList .thumbnail .button .likeButton button img { margin:0; vertical-align:middle; }
.ec-base-product .prdList .thumbnail .button .likeButton button strong {height:16px; vertical-align:middle; }
.ec-base-product .prdList .thumbnail .button .likeButton.selected button { color:#353535; }

.ec-base-product .prdList .description { margin:0 auto; padding:0 7px; font-size:12px; line-height:18px; text-align:center; }
.ec-base-product .prdList .description .name { display:block; text-align:left; font-weight:normal; }
.ec-base-product .prdList .description .name a { color:#2e2e2e; }
.ec-base-product .prdList .description .mileage { display:block; }
.ec-base-product .prdList .description span.grid { display:block; }

/* grid */
.ec-base-product ul.grid2 > li { width:50%; }
.ec-base-product ul.grid3 > li { width:33.33%; }
.ec-base-product ul.grid4 > li { width:25%; }
.ec-base-product ul.grid5 > li { width:20%; }
.ec-base-product ul.grid3 > li .color { max-width:230px; }
.ec-base-product ul.grid4 > li .color { max-width:190px; }
.ec-base-product ul.grid5 > li .color { max-width:130px; }
  /* right display */
  .ec-base-product ul.grid2 li:after { content:""; display:block; clear:both; }
  .ec-base-product ul.grid2 li .thumbnail { float:left; width:220px; text-align:left; margin:0; }
  .ec-base-product ul.grid2 li .description { float:left; width:247px; padding:0 20px; }
  .ec-base-product ul.grid2 li .description .chk { position:static; text-align:left; }

/* module="product_ListItem" */
.ec-base-product .spec { margin:0; }
.ec-base-product .spec li { text-align:left; }
.ec-base-product .spec li .title { font-weight:normal; vertical-align:top; }
.ec-base-product .spec li .title span { vertical-align:top; }
.ec-base-product .spec li .color { overflow:hidden; display:inline-block; margin:3px 0 0 0; }
.ec-base-product .spec li .chips { float:left; width:10px; height:10px; margin:0 2px 2px 0; border:1px solid #e3e3e3; font-size:0; line-height:0; }

.ec-base-product .discountPeriod { display:inline-block; z-index:10; position:relative; width:55px; height:19px; vertical-align:middle; }
.ec-base-product .layerDiscountPeriod { left:50%; top:26px; width:247px; margin:0 0 0 -124px; }
.ec-base-product .layerDiscountPeriod strong.title { display:block; margin:0 0 12px; padding:0 35px 0 0; font-weight:bold; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .content p { margin:2px 0 0; font-size:11px; line-height:16px; color:#757575; letter-spacing:-1px; }
.ec-base-product .layerDiscountPeriod .content p strong { font-weight:normal; font-size:12px; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .content p strong span { font-size:11px; }

.ec-base-product .prdList .shippingFee { position:relative; display:inline-block; }
.ec-base-product .prdList .shippingFee .button { display:inline-block; float:none; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip { z-index:11; display:block; margin:0 0 0 -170px; width:360px; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip table th { width:40px; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip table th,
.ec-base-product .prdList .shippingFee .ec-base-tooltip table td { padding:7px 10px 8px 10px; }

.ec-base-product .btnTooltip { position:relative; display:inline-block; }
.differentialShipping { display:none; overflow:hidden; position:absolute; left:50%; top:17px; z-index:100; width:350px; margin:0 0 0 -176px; }
.differentialShipping h3.title { margin:0; height:35px; padding:0 35px 0 19px; border:0; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.differentialShipping .content { padding:12px 18px 14px 18px; border:1px solid #757575; border-top:0; text-align:center; background:#fff; }
.differentialShipping .close { position:absolute; right:14px; top:12px; }
.differentialShipping .close img { cursor:pointer; }
.differentialShipping .content ul { color:#757575; line-height:25px; }
.differentialShipping .content li { overflow:hidden; }
.differentialShipping .content li strong { float:left; font-weight:normal; }
.differentialShipping .content li span { float:right; color:#2e2e2e; }
.differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; color:#80aeef; text-align:right; }

/* Thumbnail icon position */
.ec-product-bgLT { background-position:left top; }
.ec-product-bgLC { background-position:left center; }
.ec-product-bgLB { background-position:left bottom; }
.ec-product-bgRT { background-position:right top; }
.ec-product-bgRC { background-position:right center; }
.ec-product-bgRB { background-position:right bottom; }
.ec-product-bgCT { background-position:center top; }
.ec-product-bgCC { background-position:center center; }
.ec-product-bgCB { background-position:center bottom; }
