.xans-member-checkpassword { margin:14px 7px 0; padding:0 0 29px; line-height:1.5; background:#f1f1f1; }
.xans-member-checkpassword h3 { border:1px solid #d5d5d5; text-align:center; line-height:43px; color:#2e2e2e; background:#f0f0f0; }
.xans-member-checkpassword .confirm { margin:-1px 0 0; border:1px solid #d5d5d5; color:#353535; background:#fff; }
.xans-member-checkpassword .confirm fieldset { margin:0 auto; padding:14px 28px; width:250px; }
.xans-member-checkpassword .info { padding:0 0 14px 30px; background:url("//img.echosting.cafe24.com/skin/mobile/member/ico_check_password.png") no-repeat 0 4px; background-size:17px 20px; }
.xans-member-checkpassword .password label { display:none; }
.xans-member-checkpassword .password #cp_password { width:180px; }