.xans-member-edit { margin:14px 7px 0; padding:0 0 29px; font-size:13px; color:#1b1b1b; }
.xans-member-edit .titleArea { width:100%; margin:0; border:none; }
.xans-member-edit .titleArea.accountArea { margin:-8px 0 0; }
.xans-member-edit h3 { height:30px; padding:13px 0 0 14px; border:1px solid #d5d5d5; font-size:13px; font-weight:bold; color:#4a5164; font-family:"맑은 고딕",Malgun Gothic,"돋움",Dotum; background:#f1f1f1; }
.xans-member-edit h3 span { float:right; padding:0 14px 0 0; color:#1b1b1b; font:11px normal; }
.xans-member-edit h3 span img { margin:0 3px 0 0; padding:4px 0 0; vertical-align:top; }

.xans-member-edit .ec-base-table.typeWrite { margin:0 0 7px; }
.xans-member-edit .ec-base-table.typeWrite .emailCheck td { font-size:11px; }
.xans-member-edit .ec-base-table.typeWrite [id*="Msg"].error { color:#f00; }
.xans-member-edit .ec-base-table.typeWrite td.thead .subject { display:block; padding:0 0 10px; font-weight:normal; color:#757575; }
.xans-member-edit .ec-base-table.typeWrite .interest label { min-width:90px; margin:0 7px 14px 0; }
.xans-member-edit .ec-base-table.typeWrite .interest { font-size:11px; line-height:1.2em; }
.xans-member-edit .ec-base-table.typeWrite .interest input { margin:0 3px 0 0; }
.xans-member-edit .ec-base-table.typeWrite .interest span { display:inline-block; }

/* 회원인증 */
.xans-member-edit .ec-base-table { margin:0 0 7px; }
.xans-member-edit .ec-base-table .certifForm { margin:9px 0px 7px; }

.xans-member-edit .boardList { border-bottom:1px solid #c0c0c0; color:#747474; font-size:11px; }
.xans-member-edit .boardList th { width:90px; padding:0px 0px 0px 10px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; font-weight:normal; vertical-align:middle; background:#f6f6f6; }
.xans-member-edit .boardList td { padding:20px 5px 20px; border-top:1px dotted #e3e3e3; line-height:1.5; vertical-align:middle; }
.xans-member-edit .boardList .center { text-align:center; }

/* 인증번호 */
.xans-member-edit .verify { position:relative; width:100%; height:29px; }
.xans-member-edit .verify #verify_sms_number { width:100%; padding:0 35px 0 4px; }
.xans-member-edit .verify .time { position:absolute; top:2px; right:6px; color:#ff5400; }

/* INPUT SIZE */
.xans-member-edit input[type=text],
.xans-member-edit input[type=password],
.xans-member-edit input[type=number],
.xans-member-edit input[type=tel],
.xans-member-edit select { width:100%; }
.xans-member-edit #user_passwd_confirm,
.xans-member-edit #hint,
.xans-member-edit #hint_answer { margin-bottom:7px; }
.xans-member-edit #member_id { width:113px; }
.xans-member-edit #cssn { width:155px; }
.xans-member-edit #phone1,
.xans-member-edit #mobile1 { width:33%; margin:0 4px 0 0; }
.xans-member-edit #phone2,
.xans-member-edit #phone3,
.xans-member-edit #mobile2,
.xans-member-edit #mobile3 { width:25%; margin:0 4px; }
.xans-member-edit #bssn1,
.xans-member-edit #bssn2 { width:70px; }
.xans-member-edit #email1 { max-width:40%; margin:0 4px 7px 0; }
.xans-member-edit #email2 { max-width:45%; margin:0 4px 7px 4px; }
.xans-member-edit #email3 { height:29px; margin:0 0 7px; }

.xans-member-edit #birth_year,
.xans-member-edit #marry_year,
.xans-member-edit #partner_year { width:55px; margin:0 2px 0 0; }
.xans-member-edit #birth_month,
.xans-member-edit #marry_month,
.xans-member-edit #partner_month { width:40px; margin:0 2px; }
.xans-member-edit #birth_day,
.xans-member-edit #marry_day,
.xans-member-edit #partner_day { width:40px; margin:0 2px; }

/* 약관 */
.xans-member-edit .agreeArea { margin:0 0 7px; border:1px solid #ccc; background:#fff; }
.xans-member-edit .agreeArea .title{display:flex;line-height: 1.5;align-items: center;justify-content: space-between;}
.xans-member-edit .agreeArea .title h4{padding:8px 0 8px 14px}
.xans-member-edit .agreeArea .title h4 input + label + label {margin-left: 4px;}
.xans-member-edit .agreeArea .title a.btnMore{ position: relative;top:auto; right: auto; flex:none;padding:0 14px 0 7px; }
.xans-member-edit .title { position:relative; line-height:36px; color:#333; border-bottom:1px solid #ccc; }
.xans-member-edit .title h4 { padding:0 0 0 14px; font-size:13px; font-weight:normal; }
.xans-member-edit .title h4 label { display:none; }
.xans-member-edit .title h4 label.check { display:inline; }
.xans-member-edit .title a.btnMore { position:absolute; top:0px; right:14px; font-size:11px; text-decoration:underline; }
.xans-member-edit .contents { overflow:hidden; overflow-y:auto; height:90px; margin:14px; color:#757575; font-size:11px; }

/* 툴팁 */
.xans-member-edit .ec-base-tooltip-area { position:relative; width:100%; }