.xans-member-findpasswdquestion { margin:14px 7px 0; padding:0 0 29px; }
.xans-member-findpasswdquestion .ec-base-table.typeWrite td { vertical-align:middle; }
.xans-member-findpasswdquestion .ec-base-table.typeWrite table p { margin:0; word-break:keep-all; }

/* INPUT SIZE */
.xans-member-findpasswdquestion #passwd_answer { width:100%; }
