.xans-member-join { margin:14px 7px 0px; padding:0 0 29px; color:#63666e; font-size: 11px; }
.xans-member-join .agreeArea { margin:0 0 7px; border:1px solid #ccc; background:#fff; }
.xans-member-join .title { position:relative; line-height:36px; color:#333; border-bottom:1px solid #ccc; }
.xans-member-join .title h3 { padding:0 0 0 14px; font-size:13px; font-weight:normal; }
.xans-member-join .title h3 label { display:none; }
.xans-member-join .title h3 label.check { display:inline; }
.xans-member-join .title a.btnMore { position:absolute; top:0px; right:14px; font-size:11px; text-decoration:underline; }
.xans-member-join .contents { overflow:hidden; overflow-y:auto; height:90px; padding:14px; color:#757575; font-size:11px; }

.progress { overflow:hidden; height:37px; border-bottom:1px solid #ccc; text-align:center; }
.progress li { position:relative; float:left; padding:0 0 0 17px; width:35%; height:100%; line-height:37px; background-color:#ebebeb; box-sizing:border-box; list-style-type:none; }
.progress li:first-child { padding:0; width:30%; }
.progress li:first-child:before { display:none; }
.progress li:before { position:absolute; top:0; left:0; display:inline-block; content:""; width:17px; height:37px; background:url("//img.echosting.cafe24.com/skin/mobile/common/bg_process.png") no-repeat 0 0; background-size:67px auto; }
.progress li.done { background-color:#fafafa; }
.progress li.done + li:before { background-position:-25px 0; }
.progress li.done + li.done:before { background-position:-50px 0; }

.xans-member-join .agreeAll { padding:0 0 20px 15px; }
.xans-member-join .agreeAll p { font-size:13px; }
.xans-member-join .agreeAll h3 { margin:0 0 14px; color:#1b1b1b; }
.xans-member-join .agreeAll label { width:calc(100% - 46px); width:-webkit-calc(100% - 46px); color:#538aeb; vertical-align:top; }
.xans-member-join .agreeArea .ec-base-chk { margin:0 4px 0 0; }

.xans-member-join .additional { display:flex; display:-webkit-flex; padding:0 14px; border-top:1px solid #ccc; line-height:1.2; background:#fafafa; }
.xans-member-join .additional li { flex:1; padding:10px 0; }
.xans-member-join .additional li label { background:#fafafa; }