/* product */
.xans-board-inquiryhead { margin:0 0 20px; }
.xans-board-inquiryhead .information h3 { margin:17px 0 5px; font-size:14px; color:#2e2e2e; }
.xans-board-inquiryhead .information .price { font-size:14px; font-weight:bold; color:#008bcc; }
.xans-board-inquiryhead .information .button { margin:19px 0 0 0; padding:13px 0 0 0; border-top:1px solid #e8e8e8; }
.xans-board-inquiryhead .information > img { vertical-align:middle; margin:0 0 0 1px; }

/* read */
.xans-board-inquiryview .ec-base-table .view .detail { padding:20px; word-break:break-all; line-height:normal; }
.xans-board-inquiryview .ec-base-table .view .detail ol,
.xans-board-inquiryview .ec-base-table .view .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-inquiryview .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-inquiryview .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-inquiryview .ec-base-table .attach a { padding:0 0 0 12px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_file.gif") no-repeat 0 0; color:#8f8f8f; }
.xans-board-inquiryview .ec-base-table .attach a:hover { text-decoration:underline; }

.xans-board-inquiryview .ec-base-button { margin:10px 0 40px; }