/* 게시판 전체 공통 */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("//img.echosting.cafe24.com/skin/base/layout/ico_heading.gif") 0 50% no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

.xans-board-listpackage .boardSort { float:left; margin:0 0 10px; }

/* 갤러리형 탭메뉴 */
ul.xans-board-listheader { text-align:right; margin:0 0 10px; }
ul.xans-board-listheader li { display:inline; }

/* list */
.xans-board-listpackage { margin:0 0 10px; }
.xans-board-listpackage .ec-base-table { clear:both; }
.xans-board-listpackage .ec-base-table .subject img { margin:0 1px; }
.xans-board-listpackage .ec-base-table .thumb a { overflow:hidden; }
.xans-board-listpackage .ec-base-table .thumb img { width:46px; float:left; }
.xans-board-listpackage .ec-base-table .thumb span { float:left; width:80px; padding:0 0 0 8px; text-align:left; }
.xans-board-buttonlist.ec-base-button.typeBG { border-top:0 none; }

/* 상품후기 아코디언형 */
.xans-board-listpackage #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; word-break:break-all; white-space:pre-wrap; }