.xans-board-movement { border:1px solid #d7d5d5; margin:20px 0; }
.xans-board-movement li { overflow:hidden; padding:0 20px; border-bottom:1px solid #e9e9e9; line-height:140%; color:#353535; }
.xans-board-movement li strong,
.xans-board-movement li a { float:left; padding:10px; }
.xans-board-movement li strong { width:6%; padding-left:15px; font-weight:normal; background:url("//img.echosting.cafe24.com/skin/base/board/ico_move_prev.gif") no-repeat 0 15px; }
.xans-board-movement li a { width:860px; border-left:1px solid #e9e9e9; }

.xans-board-movement li.next { border:0; }
.xans-board-movement li.next strong { background:url("//img.echosting.cafe24.com/skin/base/board/ico_move_next.gif") no-repeat 0 15px; }