.xans-attend-commentpackage { margin:0 0 29px; }

/* 달력 패키지 */
.xans-attend-calendarhead { margin:14px 14px 0; padding:28px 0 14px; text-align:center; overflow:hidden; zoom:1; border:1px solid #d5d5d5; border-bottom:0; border-top-left-radius:3px; border-top-right-radius:3px; background:#fff; }
.xans-attend-calendarhead p { display:inline-block; text-align:center; vertical-align:middle; }
.xans-attend-calendarhead p.prev,
.xans-attend-calendarhead p.next { padding:0 7px; margin:0 7px; }
.xans-attend-calendarhead p.prev img,
.xans-attend-calendarhead p.next img { width:8.5px; }
.xans-attend-calendarhead p span { font-size:19px; font-weight:bold; vertical-align:middle; }

.xans-attend-calendar { margin:0 14px 14px; padding:0 3% 14px; border:1px solid #d5d5d5; border-top:0; border-bottom-left-radius:3px; border-bottom-right-radius:3px; background:#fff; }
.xans-attend-calendar table thead tr { border-bottom:1px solid #ddd; }
.xans-attend-calendar th { height:30px; font-size:11px; color:#63666e; border-top:0; vertical-align:middle; }
.xans-attend-calendar tr:first-child td { padding:23px 0 0; }
.xans-attend-calendar td { vertical-align:middle; }
.xans-attend-calendar td > div { position:relative; min-width:35px; min-height:17px; padding:9px 0; text-align:center; }
.xans-attend-calendar td.sun,
.xans-attend-calendar td.sat { color:#777; }
.xans-attend-calendar td.sat > div { background:#f4f4f4; }
.xans-attend-calendar td.sat > div img { background:#f4f4f4; border:1px solid red; }
.xans-attend-calendar td img { position:absolute; left:50%; top:50%; display:block; margin:-15px 0 0 -15px; width:30px; background:#fff; }
.xans-attend-calendar #attStart,
.xans-attend-calendar #attEnd { z-index:100; position:absolute; left:15%; top:-6px; background:none; }

/* 출석체크 댓글형 - 댓글 */
.xans-attend-commenttitle { padding:10px 14px; border-bottom:1px solid #ececec; }
.xans-attend-commentwrite .capcha { position:relative; margin:14px 14px; padding:14px; border:1px solid #d5d5d5; background:#fff; }
.xans-attend-commentwrite .capcha > img { vertical-align:top; }
.xans-attend-commentwrite .capcha #secure_text { width:130px; }
.xans-attend-commentwrite .form { position:relative; margin:14px 14px; }
.xans-attend-commentwrite .form span { display:block; }
.xans-attend-commentwrite .form #comment { width:100%; height:57px; }

.xans-attend-commentlist { padding:0 0 7px; border-top:1px solid #d5d5d5; background:#fff; }
.xans-attend-commentlist li { padding:14px; border-bottom:1px solid #d5d5d5; }
.xans-attend-commentlist li .name,
.xans-attend-commentlist li .date { font-size:11px; margin:0 0 14px; color:#757575; }
.xans-attend-commentlist .memo { margin:5px 0 0; color:#1b1b1b; word-wrap:break-word; }
