/* 타이틀 */
#titleArea { position:relative; border-bottom:1px solid #c2c2c2; background-color:#fff; }
#titleArea h2 { padding:0 61px; line-height:43px; font-size:15px; color:#2e2e2e; text-align:center; }
#titleArea span { position:absolute; top:6px; left:14px; }

.xans-intro-memberpackage { overflow:hidden; margin:0px 14px 29px; font-size:11px; background:#fff; }
.xans-intro-memberpackage .xans-intro-memberpackage { padding:0 14px; border-top:1px solid #d5d5d5; }
.xans-intro-memberpackage .formBox { position:relative; font-size:11px; }
.xans-intro-memberpackage .formBox:after { content:""; display:block; clear:both; }
.xans-intro-memberpackage .loginHeader { width:100%; line-height:16px; }
.xans-intro-memberpackage .loginHeader:after { content:""; display:block; clear:both; }
.xans-intro-memberpackage h3 { float:left; height:30px; padding:13px 0 0; color:#4a5164; font-size:13px; font-weight:bold; }
.xans-intro-memberpackage h3 .txtEm { color:#4a5164; }

.xans-intro-memberpackage .keyboard { line-height:43px; text-align:right; }
.xans-intro-memberpackage .keyboard .btnKey { position:relative; padding:0 20px 0 0; color:#757575; font-size:11px; cursor:pointer; border:0; background:none; }
.xans-intro-memberpackage .keyboard .btnKey.korean { display:inline-block; margin:0 14px 0 0; }
.xans-intro-memberpackage .keyboard .btnKey.special { display:inline-block; margin:0; }
.xans-intro-memberpackage .keyboard .btnKey:focus { outline:none; }
.xans-intro-memberpackage .keyboard .btnKey:before { content:""; position:absolute; right:0; top:50%; width:13px; height:8px; margin:-3px 0 0; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/member/ico_toggle_arrow_down.png") no-repeat 0 50%; background-size:100% 100%; }
.xans-intro-memberpackage .keyboard .btnKey.selected { color:#508bed; border:none; }
.xans-intro-memberpackage .keyboard .btnKey.selected:before { background-image: url("//img.echosting.cafe24.com/skin/mobile_ko_KR/member/ico_toggle_arrow_up.png"); }

.xans-intro-memberpackage .view { text-align:center; }
.xans-intro-memberpackage .view > div { display:none; padding:0 0 14px; }
.xans-intro-memberpackage .formBox .form { margin:0px 0px 0 0; font-size:0; line-height:0; }
.xans-intro-memberpackage .formBox .form input[type="text"],
.xans-intro-memberpackage .formBox .form input[type="password"] { width:100%; height:43px; }
.xans-intro-memberpackage .formBox .form input[type="text"] { margin:0 0 7px; }
.xans-intro-memberpackage .formBox .option { overflow:hidden; font-size:13px; line-height:43px; }
.xans-intro-memberpackage .formBox .option > span { float:left; margin:0 10px 0 0; }
.xans-intro-memberpackage .formBox .option > span:last-child { margin-right:0; }
.xans-intro-memberpackage .formBox .option input[type="checkbox"],
.xans-intro-memberpackage .formBox .option img { margin:0 3px 0 0; }
.xans-intro-memberpackage .formBox .option .ssl img { width:14px; margin:0 3px 0 0; vertical-align:middle; }
.xans-intro-memberpackage .formBox .option .ssl em { color:#757575; vertical-align:middle; }

.xans-intro-memberpackage .loginUtil { height:35px; margin:0 auto; font-size:13px; text-align:center; line-height:25px; }
.xans-intro-memberpackage .loginUtil .btnLogin { position:relative; display:inline-block; padding:0 14px 0 15px; color:#858585; font-weight:normal; }
.xans-intro-memberpackage .loginUtil .btnLogin:before { display:block; content:""; position:absolute; top:6px; left:0; width:1px; height:13px; background:#848484; }
.xans-intro-memberpackage .loginUtil .btnLogin:first-child:before { display:none; }
.xans-intro-memberpackage .loginUtil .btnLogin .icon { display:inline-block; width:5px; padding:0 7px 0 6px; }

.xans-intro-memberpackage .snsLogin .btnNaver {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#26c826 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_naver.png") no-repeat 13px 0; background-size:33px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-intro-memberpackage .snsLogin .btnFacebook {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:33px; line-height:33px; padding:0 0 0 45px;
    background:#4267b2 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_facebook.png") no-repeat 13px 0; background-size:33px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-intro-memberpackage .snsLogin .btnGoogle {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:33px; line-height:33px; padding:0 0 0 45px;
    background:#517ff3 url("//img.echosting.cafe24.com/skin/mobile/member/ico_google.png") no-repeat 0 0; background-size:auto 31px; border:1px solid #517ff3;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-intro-memberpackage .snsLogin .btnKakao {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#3c1e1e; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#ffeb00 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_kakao.png") no-repeat 11px 1px; background-size:auto 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-intro-memberpackage .snsLogin .btnLine {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#26c826 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_line.png") no-repeat 10px 0; background-size:35px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-intro-memberpackage .snsLogin .btnApple {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#000 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_apple.png") no-repeat 13px 0; background-size:33px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
/* input */
.xans-intro-memberpackage #member_id,
.xans-intro-memberpackage #member_passwd { font-size:15px; }