.xans-myshop-addrregister #ma_rcv_title, .xans-myshop-addrregister #ma_rcv_name { width:180px; }
.xans-myshop-addrregister #ma_rcv_phone1, .xans-myshop-addrregister #ma_rcv_mobile_no1 { width:60px; }
.xans-myshop-addrregister #ma_rcv_phone2, .xans-myshop-addrregister #ma_rcv_phone3,
.xans-myshop-addrregister #ma_rcv_mobile_no2, .xans-myshop-addrregister #ma_rcv_mobile_no3 { width:60px; margin:0 4px; }