.xans-myshop-orderoldhistorylist .title { margin:40px 0 10px 10px; }
.xans-myshop-orderoldhistorylist .title h3 { color:#353535; font-size:12px; }
.xans-myshop-orderoldhistorylist.ec-base-table td a { color:#353535; }
.xans-myshop-orderoldhistorylist.ec-base-table td .line { text-decoration:underline; }