#popup { width:600px; min-height: 360px; }
.xans-myshop-orderhistoryaccount .ec-base-button { margin:20px -20px; }
.xans-myshop-orderhistoryaccount #acc_no { width:230px; }
.xans-myshop-orderhistoryaccount #acc_bank { width:300px; }