.xans-myshop-asyncbenefit { margin:0 0 20px; color:#353535;}
.xans-myshop-asyncbenefit .thumbnail img { max-width:70px; max-height:70px; }
.xans-myshop-asyncbenefit .description { min-height:70px; }
.xans-myshop-asyncbenefit .ec-base-box.typeThinBg { margin-top:-1px; padding-left:110px; }
.xans-myshop-asyncbenefit .invite > strong { display:block; }
.xans-myshop-asyncbenefit .invite .copy { margin:8px 0 0; }
.xans-myshop-asyncbenefit .invite #reco_url { width:439px; }
.xans-myshop-asyncbenefit .invite ul { margin:8px 0 0; font-size:11px; line-height:1.25; color:#757575; }
.xans-myshop-asyncbenefit .invite ul li { margin:3px 0 0; }