/* Title */
.xans-myshop-orderhistoryapplyexchange .title { margin:40px 0 10px 10px; }
.xans-myshop-orderhistoryapplyexchange .title h3 { color:#353535; font-size:12px; }
.xans-myshop-orderhistoryapplyexchange > .title:first-child { margin-top:0; }

/* List */
.xans-myshop-orderhistoryapplyexchange .ec-base-table td .line { text-decoration:underline; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.number { letter-spacing:-1px; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product p { padding:0 0 0 90px; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product .thumbnail { float:left; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product .thumbnail img { width:80px; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product .name .ec-set-product-name { display:block; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product div.option,
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product ul.option > li { margin:9px 0 0 90px; color:#757575; line-height:16px; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table td.product ul.option > li > strong { display:block; color:#353535; }
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList + .ec-base-button { padding:10px 0 50px; border-bottom:1px solid #868686; }

.xans-myshop-orderhistoryapplyexchange .productList { padding:0; }
.xans-myshop-orderhistoryapplyexchange .productList > ul > li { display:table; table-layout:fixed; width:100%; border-top:1px solid #e9e9e9; }
.xans-myshop-orderhistoryapplyexchange .productList > ul > li:first-child { border-top:0; }
.xans-myshop-orderhistoryapplyexchange .productList > ul > li p,
.xans-myshop-orderhistoryapplyexchange .productList > ul > li ul { display:table-cell; }
.xans-myshop-orderhistoryapplyexchange .productList > ul > li .product { padding:9px 0 8px 10px; width:auto;}
.xans-myshop-orderhistoryapplyexchange .productList > ul > li .quantity { padding:9px 0 8px 0; width:79px; text-align:center; border:solid #e9e9e9; border-width:0 1px 0 1px;}
.xans-myshop-orderhistoryapplyexchange .productList > ul > li .price { padding:9px 0 8px 0; width:149px; text-align:center;}

.xans-myshop-orderhistoryapplyexchange .controlInfo { padding:10px 0 8px 10px; border-top:1px solid #e8e5e4; color:#f76560; font-size:11px; line-height:1.5; background:#fff8f5; }
.xans-myshop-orderhistoryapplyexchange .controlInfo.typeBtm { margin:-1px 0 0; border-top:0; border-bottom:1px solid #e8e5e4; }

.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery{background-color:#fbfafa;vertical-align:middle;padding:10px 20px 10px 40px;}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .inner{display: flex;align-items:center;}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .address{flex:1;display: block;padding-right:20px;}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .waybill{flex:none;display: inline-block;}

/* Write */
.xans-myshop-orderhistoryapplyexchange #reason_detail { width:540px; }
.itemAddInfo input { height:24px; line-height:24px; }
.itemAddInfo input,
.itemAddInfo textArea { width:554px; box-sizing:border-box; }

/* 옵션변경 레이어 */
.xans-myshop-orderhistoryapplyexchange .optionModify { display:none; width:450px; color:#707070; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdInfo { margin:0 0 10px; padding:0 0 10px; border-bottom:1px dotted #b0b1b3; line-height:1.5; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdInfo li { color:#353535; font-weight:bold; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdInfo li.option { color:#707070; font-weight:normal; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify h4 { color:#353535; font-size:12px; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify li { padding:6px 0 0; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify li:after { content:""; display:block; clear:both; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify li span { float:left; width:110px; margin:3px 0 0; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify li select { float:right; width:294px; line-height:24px; font-size:12px; }
.xans-myshop-orderhistoryapplyexchange .optionModify .prdModify li input[type=text] { float:right; width:284px; }
/* INPUT */
#pickup_phone1_1, #pickup_phone2_1 { margin:0 5px 0 0; width:60px; }
#pickup_phone1_2, #pickup_phone1_3,
#pickup_phone2_2, #pickup_phone2_3 { padding:2px 4px; width:60px; }
#delivery_info_offer_content { width:95%; }