#popup { width:785px; }
.xans-myshop-orderhistorystorepickup h3 { margin:20px 0 10px 10px; color:#353535; font-size:12px; }
.xans-myshop-orderhistorystorepickup table td img { max-height:300px; max-width:600px; width:auto; border:1px solid #e8e8e8; vertical-align:middle; }