#popup { width:520px; }
.content { min-height:250px; }
.xans-member-checkunderfourteen { font-size:12px; line-height:150%; color:#757575; }
.xans-member-checkunderfourteen .info { padding:0 0 0 17px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 0 2px; color:#202020; }
.xans-member-checkunderfourteen .info span { color:#008bcc; }

.xans-member-checkunderfourteen .select { margin:15px 0; }
.xans-member-checkunderfourteen .select label { margin:0 10px 0 0; }
.xans-member-checkunderfourteen .ipin { margin:10px 0 0; }
.xans-member-checkunderfourteen .ipin p { margin:5px 0 0 8px; }

.xans-member-checkunderfourteen .check { margin:20px 0 0; padding:10px; border-top:1px solid #dddcdd; border-bottom:1px solid #dddcdd; color:#202020; }
.xans-member-checkunderfourteen .check p { overflow:hidden; padding:5px 0; }
.xans-member-checkunderfourteen .check strong { float:left; width:84px; padding:2px 0 0; font-weight:normal; }
.xans-member-checkunderfourteen .check span { float:left; width:300px; }
.xans-member-checkunderfourteen .check input { padding:2px 2px 2px 4px; border:1px solid #d9d9d9; color:#202020; }
.xans-member-checkunderfourteen .check input.btn { padding:0; border:0; }
.xans-member-checkunderfourteen .check #name { width:120px; }
.xans-member-checkunderfourteen .check #ssn1 { width:80px; margin:0 4px 0 0; }
.xans-member-checkunderfourteen .check #ssn2 { width:80px; margin:0 0 0 4px; }

.xans-member-checkunderfourteen .agreement { margin:20px 0 0; }
.xans-member-checkunderfourteen .agreement p { padding:5px 0 0; }