.xans-member-checkpassword.ec-base-box { padding:49px 0 39px; text-align:center; }
.xans-member-checkpassword .confirm { width:370px; margin:0 auto; }
.xans-member-checkpassword .confirm .info { margin:5px 0 40px; line-height:150%; color:#757575; }
.xans-member-checkpassword .confirm .info strong { color:#008bcc; }
.xans-member-checkpassword .confirm .password label { display:inline-block; margin:0 0 5px; width:118px; font-weight:normal; vertical-align:top; text-align:left; }
.xans-member-checkpassword .confirm .password input { width:236px; height:28px; line-height:28px; }
.xans-member-checkpassword .confirm .ec-base-button { padding:40px 0 10px 0; }