.xans-member-findidresult.ec-base-box { padding:49px 0 39px; }
.xans-member-findidresult.ec-base-box.typeThin h3.boxTitle  { margin:0 0 30px; }
.xans-member-findidresult { line-height:150%; text-align:center; }
.xans-member-findidresult .findId { width:500px; margin:0 auto; }
.xans-member-findidresult .findId p.info { margin:0 0 30px; font-size:20px; color:#008bcc; font-weight:bold; }
.xans-member-findidresult .findId .ec-base-box { text-align:left; }
.xans-member-findidresult .findId li label { display:inline-block; margin:0 0 5px 0; }