.xans-order-customshiparea { padding:14px; }
.xans-order-customshiparea .wrap ul { max-height:460px; overflow-y:auto; overflow-x:hidden; -webkit-overflow-scrolling:touch; margin:7px 0 14px; border-bottom:1px solid #ddd; background:#fff; }
.xans-order-customshiparea .wrap li { padding:7px; border:1px solid #ddd; border-bottom:0; }