.xans-layout-myshop { margin:0 0 20px; padding:0 0 13px; border-bottom:1px solid #e8e8e8; }
.xans-layout-myshop h2 { height:26px; color:#2e2e2e; font-size:12px; }
.xans-layout-myshop ul { padding:0 0 0 4px; }
.xans-layout-myshop li { padding:0 9px 0 5px; line-height:33px; *display:inline; *zoom:1; }
.xans-layout-myshop li.mileage { background:none; }
.xans-layout-myshop li.consult { background:none; }
.xans-layout-myshop li.wish { background:none; }
.xans-layout-myshop a { color:#222; }