.xans-attend-calendarpackage { padding:0 0 29px; }

/* 달력 패키지 */
.xans-attend-calendarhead { margin:14px 14px 0; padding:28px 0 14px; text-align:center; overflow:hidden; zoom:1; border:1px solid #d5d5d5; border-bottom:0; border-top-left-radius:3px; border-top-right-radius:3px; background:#fff; }
.xans-attend-calendarhead p { display:inline-block; text-align:center; vertical-align:middle; }
.xans-attend-calendarhead p.prev,
.xans-attend-calendarhead p.next { padding:0 7px; margin:0 7px; }
.xans-attend-calendarhead p.prev img,
.xans-attend-calendarhead p.next img { width:8.5px; }
.xans-attend-calendarhead p span { font-size:19px; font-weight:bold; vertical-align:middle; }

.xans-attend-calendar { margin:0 14px 14px; padding:0 3% 14px; border:1px solid #d5d5d5; border-top:0; border-bottom-left-radius:3px; border-bottom-right-radius:3px; background:#fff; }
.xans-attend-calendar table thead tr { border-bottom:1px solid #ddd; }
.xans-attend-calendar th { height:30px; font-size:11px; color:#63666e; border-top:0; vertical-align:middle; }
.xans-attend-calendar tr:first-child td { padding:23px 0 0; }
.xans-attend-calendar td { vertical-align:middle; }
.xans-attend-calendar td > div { position:relative; min-width:35px; min-height:17px; padding:9px 0; text-align:center; }
.xans-attend-calendar td.sun,
.xans-attend-calendar td.sat { color:#777; }
.xans-attend-calendar td.sat > div,
.xans-attend-calendar td.sat > div img { background:#f4f4f4; }
.xans-attend-calendar td img { position:absolute; left:50%; top:50%; display:block; margin:-15px 0 0 -15px; width:30px; background:#fff; }
.xans-attend-calendar #attStart,
.xans-attend-calendar #attEnd { z-index:100; position:absolute; left:15%; top:-6px; background:none; }

/* 스탬프형 > 보안문자 레이어 */
.xans-attend-button { position:relative; margin:0 14px; }
.xans-attend-button .security { display:none; position:fixed; left:50%; top:50%; width:300px; z-index:100; margin:-50px 0 0 -150px; background:#f1f1f1; }
.xans-attend-button .security fieldset { position:relative; margin:14px; padding:14px; border:1px solid #d5d5d5; border-radius:3px; background:#fff; }
.xans-attend-button .security h2 { height:36px; padding:0 38px 0 7px; font-size:15px; line-height:36px; color:#fff; background:#4a5164; }
.xans-attend-button .security .btnClose { position:absolute; right:-14px; top:-50px; z-index:110; width:36px; height:36px; border:0; padding:0; font-size:0; text-indent:100%; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_close_white.png") center center no-repeat; background-size:14px 14px; }
.xans-attend-button .security .wrap { padding:12px 6px 6px; padding:6px; font-size:12px; background:#fff; }
.xans-attend-button .capcha > img { vertical-align:top; }
.xans-attend-button .capcha #secure_text { width:100px; }