/* 댓글형 > 댓글 작성 */
.xans-attend-commentwrite { margin:15px 0 0px; padding:11px 20px; border:5px solid #e8e8e8; background:#fbfafa; font-size:12px; color:#353535; }
.xans-attend-commentwrite legend { visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; }
.xans-attend-commentwrite .form { position:relative; padding:0 96px 0 0; }
.xans-attend-commentwrite .form textarea { width:100%; height:42px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; color:#202020; }
.xans-attend-commentwrite .form .btnSubmit { position:absolute; top:0; right:0; }
    /* 보안문자 */
    .xans-attend-commentwrite .security { margin:10px 0 0; font-size:11px; color:#757575; }
    .xans-attend-commentwrite .security img,
    .xans-attend-commentwrite .security .keyword { vertical-align:middle; }
    .xans-attend-commentwrite .security .keyword { width:130px; height:20px; margin:0 2px; line-height:20px; border:1px solid #d9d9d9; color:#202020; }

/* 댓글형 > 댓글리스트 */
.xans-attend-commentlist { border-top:1px solid #d7d5d5; margin:20px 0 0 0;}
.xans-attend-commentlist .memoArea { position:relative; overflow:hidden; border:1px solid #d7d5d5; border-top:none; color:#353535; }
.xans-attend-commentlist .memoArea p { padding:12px 20px 7px; }
.xans-attend-commentlist .memoArea .name { float:left; font-weight:bold; }
.xans-attend-commentlist .memoArea .date { margin:0 15px; font-weight:normal; font-size:11px; }
.xans-attend-commentlist .memoArea .memo { clear:both; border-top:1px solid #e9e9e9; padding:15px 0 10px 30px; }

/* 코멘트 작성폼 */
#commentForm { display:block; }

/* 댓글형 > 이벤트 제목 */
.xans-attend-commenttitle { margin-top:20px; }
.xans-attend-commenttitle p { font-size:14px; font-weight:bold; color:#747474; }
