<footer module="layout_footerPackage">
    <!--@css(/css/module/layout/footerPackage.css)-->
    <div module="layout_info" class="footerMenu">
        <a href="tel:{$phone}" class="btnUtil typeTel">
            <!--<a href="tel:{$phone}" class="">고객센터 <strong>{$phone}</strong></a>-->
            <span class="title">고객센터</span>
            <span class="sub">{$phone}</span>
        </a>
        <a href="/board/consult/list.html" class="btnUtil typeConsult">
            <span class="title">1:1문의하기</span>
            <span class="sub">Q&A</span>
        </a>
    </div>
    <div module="Layout_footer" class="footerAddress">
        <ul class="policy">
            <li><a href="/shopinfo/guide.html" class="link">이용안내</a></li>
            <li><a href="/shopinfo/company.html">회사소개</a></li>
            <li><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a></li>
            <li><a href="/member/mall_agreement.html">이용약관</a></li>
        </ul>
        <div class="footerInfo">
            <strong class="name">{$company_name}</strong>
            <span class="address">{$mall_addr1} {$mall_addr2}</span>
            <dl>
                <dt>대표이사:</dt>
                <dd>{$president_name}</dd>
                <dt>사업자등록번호:</dt>
                <dd>{$company_regno}</dd>
            </dl>
            <dl>
                <dt>통신판매업신고:</dt>
                <dd>{$network_regno}</dd>
                <dd class="business_info">{$biz_no_link}</dd><!-- 한국몰: 전자거래법상 '사업자정보조회'버튼 제공 -->
            </dl>
            <dl class="{$cpo_email|display}">
                <dt>개인정보관리책임:</dt>
                <dd><a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></dd>
                <dt>호스팅제공:</dt>
                <dd>카페24(주)</dd>
            </dl>
            <dl>
                <dt>E-mail:</dt>
                <dd><a href="mailto:{$email}">{$email}</a></dd>
            </dl> 
        </div>
        <p class="copyright"> Copyright {$mall_name}. All Rights Reserved.</p>
    </div>
</footer>
<div id="progressPaybar" style="display:none;">
    <div id="progressPaybarBackground" class="layerProgress"></div>
    <div id="progressPaybarView">
        <p class="graph">현재 결제가 진행중입니다.</p>
        <p class="txt">
            본 결제 창은 결제완료 후 자동으로 닫히며, <br>
            결제 진행 중에 본 결제 창을 닫으시면<br>
            주문이 되지 않으니 <br>
            결제 완료 될 때 까지 닫지 마시기 바랍니다.
        </p>
    </div>
</div>
<div module="Layout_multishopShipping" class="ec-base-layer typeModal">
    <!--@css(/css/module/layout/multishopShipping.css)-->
    <!--@js(/js/module/layout/multishopShipping.js)-->
    <h1>WORLD SHIPPING</h1>
    <div class="wrap worldshipLayer">
        <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
        <div class="select">
            <select module="Layout_multishopShippingCountrylist">
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
            </select>
        </div>
        <div class="select">
            <select module="Layout_multishopShippingLanguagelist">
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
            </select>
        </div>
    </div>
    <div class="ec-base-button gFull">
        <a href="#none" class="btnSubmit">GO</a>
    </div>
    <a href="#none" class="btnClose">닫기</a>
</div>
<div class="btnTop" id="btnTop">
    <a href="#">맨위로</a>
</div>
<div module="mobilequick_display">
    {$quick_link}
    {$quick_button}
</div>
