.xans-layout-logobottom { float:left; width:189px; padding:64px 0 0 15px; }
.xans-layout-logobottom a { display:block; font-family:verdana, '맑은 고딕', malgungothic, sans-serif; font-size:28px; color:#8c8c8c; font-weight:bold; word-wrap:break-word; text-decoration:none; font-style:normal; }
.xans-layout-logobottom img { max-width:180px; }
