.xans-layout-orderbasketcount { overflow:hidden; padding:8px 6px 6px 7px; line-height:16px; text-align:right; color:#fff; background:#495164; *zoom:1; }
.xans-layout-orderbasketcount strong { float:left; font-weight:normal; }
.xans-layout-orderbasketcount span { float:right; }
.xans-layout-orderbasketcount span a { color:#fff; font-weight:bold; }