.xans-layout-project { margin:0 0 20px; padding:0 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-layout-project h2 { height:20px; color:#2e2e2e; font-size:12px; }
.xans-layout-project ul {}
.xans-layout-project li { overflow:hidden; width:180px; height:180px; text-align:center; }
.xans-layout-project li img { max-width:180px; }

.xans-layout-project .control { margin:10px 0 0; text-align:center; }
.xans-layout-project .control button { overflow:hidden; display:inline-block; width:24px; height:24px; margin:0 0 0 1px; vertical-align:middle; background:url("//img.echosting.cafe24.com/skin/base/layout/btn_project.gif") no-repeat; }
.xans-layout-project .control button span { visibility:hidden; font-size:0; line-height:0; }
.xans-layout-project .control .prev { background-position:0 0; }
.xans-layout-project .control .prev:hover { background-position:0 -34px; }
.xans-layout-project .control .next { background-position:-87px 0; }
.xans-layout-project .control .next:hover { background-position:-87px -34px; }
.xans-layout-project .control .stop { background-position:-29px 0; }
.xans-layout-project .control .stop:hover { background-position:-29px -34px; }
.xans-layout-project .control .play { background-position:-58px 0; }
.xans-layout-project .control .play:hover { background-position:-58px -34px; }